In [8]:
import pandas as pd
from glob import glob

In [9]:
dirr = 'C:/Users/rsh15/Google Drive/crawler_data/kbland/original/'

In [10]:
list_files = glob(dirr+'*.csv')
list_files

['C:/Users/rsh15/Google Drive/crawler_data/kbland/original\\매매가격_변화율_original.csv',
 'C:/Users/rsh15/Google Drive/crawler_data/kbland/original\\매매가격_지수_original.csv',
 'C:/Users/rsh15/Google Drive/crawler_data/kbland/original\\매매시장_매매거래_original.csv',
 'C:/Users/rsh15/Google Drive/crawler_data/kbland/original\\매매시장_매수우위_original.csv']

In [11]:
d1 = pd.read_csv(list_files[0],names=['year','month','region_b','region_s','ref_date','date_100','meme_rate','base_date'],header=0)
d2 = pd.read_csv(list_files[1],names=['year','month','region_b','region_s','ref_date','date_100','meme_jisu','base_date'],header=0)
d3 = pd.read_csv(list_files[2],names=['year','month','region_b','region_s','ref_date','date_100','market_meme','base_date'],header=0)
d4 = pd.read_csv(list_files[3],names=['year','month','region_b','region_s','ref_date','date_100','market_mesu','base_date'],header=0)

## 상단 그래프인 매매가격 그래프 데이터

In [12]:
# d2는 지수, d1은 변화율의 데이터.
# 같은 그래프에 있는 데이터이나, 지수만 있고 변화율은 기록되지 않은 경우가 있음.
# 따라서 지수 데이터를 기준으로 join하고, 변화율이 기록되지 않은 NA에 대해서 0 처리.
df_a = pd.merge(d2.drop(['ref_date','date_100'],axis=1),
                d1.drop(['ref_date','date_100'],axis=1),how='left',on=['year','month','region_b','region_s','base_date'])
df_a

        year  month region_b region_s  meme_jisu  base_date  meme_rate
0       2012      1       서울     서울강북       82.2  2011,2,28       0.05
1       2012      1       서울     서울강북       82.2   2011,3,7       0.02
2       2012      1       서울     서울강북       82.3  2011,3,14       0.02
3       2012      1       서울     서울강북       82.3  2011,3,21       0.02
4       2012      1       서울     서울강북       82.3  2011,3,28       0.00
...      ...    ...      ...      ...        ...        ...        ...
856732  2021      6       경남       통영      100.7  2021,5,31       0.14
856733  2021      6       경남       통영      100.9   2021,6,7       0.21
856734  2021      6       경남       통영      100.9  2021,6,14       0.07
856735  2021      6       경남       통영      101.0  2021,6,21       0.01
856736  2021      6       경남       통영      101.0  2021,6,28       0.06

[856737 rows x 7 columns]

In [13]:
df_a.loc[df_a['meme_rate'].isna(),'meme_rate'] = 0

In [14]:
df_a['base_date'] = pd.to_datetime(df_a['base_date'],format='%Y,%m,%d')
df_a.drop(['year','month'],axis=1,inplace=True)
df_a['week_num'] = df_a['base_date'].dt.isocalendar().week
df_a = df_a[['base_date','region_b','region_s','week_num','meme_rate','meme_jisu']]
df_a

        base_date region_b region_s  week_num  meme_rate  meme_jisu
0      2011-02-28       서울     서울강북         9       0.05       82.2
1      2011-03-07       서울     서울강북        10       0.02       82.2
2      2011-03-14       서울     서울강북        11       0.02       82.3
3      2011-03-21       서울     서울강북        12       0.02       82.3
4      2011-03-28       서울     서울강북        13       0.00       82.3
...           ...      ...      ...       ...        ...        ...
856732 2021-05-31       경남       통영        22       0.14      100.7
856733 2021-06-07       경남       통영        23       0.21      100.9
856734 2021-06-14       경남       통영        24       0.07      100.9
856735 2021-06-21       경남       통영        25       0.01      101.0
856736 2021-06-28       경남       통영        26       0.06      101.0

[856737 rows x 6 columns]

## 하단 그래프인 매매시장 그래프 데이터

In [15]:
df_b = pd.merge(d3.drop(['ref_date','date_100'],axis=1),
                d4.drop(['ref_date','date_100'],axis=1),how='left',on=['year','month','region_b','region_s','base_date'])
df_b

        year  month region_b region_s  market_meme  base_date  market_mesu
0       2012      1       서울     서울강북         22.3  2011,2,28         34.7
1       2012      1       서울     서울강북         16.5   2011,3,7         32.3
2       2012      1       서울     서울강북         15.2  2011,3,14         27.4
3       2012      1       서울     서울강북         11.0  2011,3,21         26.8
4       2012      1       서울     서울강북          9.7  2011,3,28         21.0
...      ...    ...      ...      ...          ...        ...          ...
817466  2021      6       경남       통영         37.7  2021,5,31         79.5
817467  2021      6       경남       통영         39.3   2021,6,7         80.1
817468  2021      6       경남       통영         37.9  2021,6,14         79.5
817469  2021      6       경남       통영         35.6  2021,6,21         82.5
817470  2021      6       경남       통영         30.5  2021,6,28         89.2

[817471 rows x 7 columns]

In [16]:
df_b['base_date'] = pd.to_datetime(df_b['base_date'],format='%Y,%m,%d')
df_b.drop(['year','month'],axis=1,inplace=True)
df_b['week_num'] = df_b['base_date'].dt.isocalendar().week
df_b = df_b[['base_date','region_b','region_s','week_num','market_meme','market_mesu']]
df_b

        base_date region_b region_s  week_num  market_meme  market_mesu
0      2011-02-28       서울     서울강북         9         22.3         34.7
1      2011-03-07       서울     서울강북        10         16.5         32.3
2      2011-03-14       서울     서울강북        11         15.2         27.4
3      2011-03-21       서울     서울강북        12         11.0         26.8
4      2011-03-28       서울     서울강북        13          9.7         21.0
...           ...      ...      ...       ...          ...          ...
817466 2021-05-31       경남       통영        22         37.7         79.5
817467 2021-06-07       경남       통영        23         39.3         80.1
817468 2021-06-14       경남       통영        24         37.9         79.5
817469 2021-06-21       경남       통영        25         35.6         82.5
817470 2021-06-28       경남       통영        26         30.5         89.2

[817471 rows x 6 columns]

## 두개 합치기

In [21]:
df_bind = pd.merge(df_a,df_b,how='left',
                  on=['base_date','region_b','region_s','week_num'])
df_bind

,base_date,region_b,region_s,week_num,meme_rate,meme_jisu,market_meme,market_mesu
0,2011-02-28,서울,서울강북,9,0.05,82.2,22.3,34.7
1,2011-03-07,서울,서울강북,10,0.02,82.2,16.5,32.3
2,2011-03-14,서울,서울강북,11,0.02,82.3,15.2,27.4
3,2011-03-21,서울,서울강북,12,0.02,82.3,11.0,26.8
4,2011-03-28,서울,서울강북,13,0.00,82.3,9.7,21.0
...,...,...,...,...,...,...,...,...
8813700,2021-05-31,경남,통영,22,0.14,100.7,37.7,79.5
8813701,2021-06-07,경남,통영,23,0.21,100.9,39.3,80.1
8813702,2021-06-14,경남,통영,24,0.07,100.9,37.9,79.5
8813703,2021-06-21,경남,통영,25,0.01,101.0,35.6,82.5
8813704,2021-06-28,경남,통영,26,0.06,101.0,30.5,89.2

In [24]:
# 상단의 그래프(meme_rate,meme_jisu)는 있지만,
# 하단의 그래프(market_meme,market_mesu)는 없는 경우
df_bind.loc[df_bind['market_meme'].isna(),'market_meme'] = 0
df_bind.loc[df_bind['market_mesu'].isna(),'market_mesu'] = 0

## 지역 전처리

In [27]:
df_bind['region_b'].unique()

array(['서울', '경기', '인천', '부산', '대구', '광주', '대전', '울산', '강원', '충북', '충남',
       '전북', '전남', '경북', '경남'], dtype=object)

In [33]:
np.sort(df_bind['region_b'].replace({
    '서울':'서울특별시','경기':'경기도','인천':'인천광역시','부산':'부산광역시','대구':'대구광역시',
    '광주':'광주광역시','대전':'대전광역시','울산':'울산광역시','강원':'강원도','충북':'충청북도',
    '충남':'충청남도','전북':'전라북도','전남':'전라남도','경북':'경상북도','경남':'경상남도'
}).unique())

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '울산광역시', '인천광역시', '전라남도', '전라북도', '충청남도', '충청북도'],
      dtype=object)

In [34]:
len(df_bind['region_b'].unique())

15

In [36]:
d1['region_b'].unique()

array(['서울', '경기', '인천', '부산', '대구', '광주', '대전', '울산', '강원', '충북', '충남',
       '전북', '전남', '경북', '경남'], dtype=object)