In [98]:
import pandas as pd
from glob import glob
import warnings
warnings.filterwarnings('ignore')

In [71]:
dirr = 'C:/Users/rsh15/Google Drive/crawler_data/kbland/original/'

In [72]:
list_files = glob(dirr+'*.csv')
list_files

['C:/Users/rsh15/Google Drive/crawler_data/kbland/original\\매매가격_변화율_original.csv',
 'C:/Users/rsh15/Google Drive/crawler_data/kbland/original\\매매가격_지수_original.csv',
 'C:/Users/rsh15/Google Drive/crawler_data/kbland/original\\매매시장_매매거래_original.csv',
 'C:/Users/rsh15/Google Drive/crawler_data/kbland/original\\매매시장_매수우위_original.csv']

In [73]:
seju_dir = 'C:/Users/rsh15/Google Drive/crawler_data/kbland/seju/'

In [74]:
seju_files = glob(seju_dir +'*.csv')
seju_files

['C:/Users/rsh15/Google Drive/crawler_data/kbland/seju\\매매가격_변화율_original_seju.csv',
 'C:/Users/rsh15/Google Drive/crawler_data/kbland/seju\\매매가격_지수_original_seju.csv',
 'C:/Users/rsh15/Google Drive/crawler_data/kbland/seju\\매매시장_매매거래_original_seju.csv',
 'C:/Users/rsh15/Google Drive/crawler_data/kbland/seju\\매매시장_매수우위_original_seju.csv']

In [75]:
d1_seju = pd.read_csv(seju_files[0],names=['year','month','region_b','region_s','ref_date','date_100','meme_rate','base_date'],header=0)
d2_seju = pd.read_csv(seju_files[1],names=['year','month','region_b','region_s','ref_date','date_100','meme_jisu','base_date'],header=0)
d3_seju = pd.read_csv(seju_files[2],names=['year','month','region_b','region_s','ref_date','date_100','market_meme','base_date'],header=0)
d4_seju = pd.read_csv(seju_files[3],names=['year','month','region_b','region_s','ref_date','date_100','market_mesu','base_date'],header=0)

In [76]:
d1 = pd.read_csv(list_files[0],names=['year','month','region_b','region_s','ref_date','date_100','meme_rate','base_date'],header=0)
d2 = pd.read_csv(list_files[1],names=['year','month','region_b','region_s','ref_date','date_100','meme_jisu','base_date'],header=0)
d3 = pd.read_csv(list_files[2],names=['year','month','region_b','region_s','ref_date','date_100','market_meme','base_date'],header=0)
d4 = pd.read_csv(list_files[3],names=['year','month','region_b','region_s','ref_date','date_100','market_mesu','base_date'],header=0)

## 상단 그래프인 매매가격 그래프 데이터

In [77]:
# d2는 지수, d1은 변화율의 데이터.
# 같은 그래프에 있는 데이터이나, 지수만 있고 변화율은 기록되지 않은 경우가 있음.
# 따라서 지수 데이터를 기준으로 join하고, 변화율이 기록되지 않은 NA에 대해서 0 처리.
d1 = pd.concat([d1,d1_seju],axis=0)
d2 = pd.concat([d2,d2_seju],axis=0)

df_a = pd.merge(d2.drop(['ref_date','date_100'],axis=1),
                d1.drop(['ref_date','date_100'],axis=1),how='left',on=['year','month','region_b','region_s','base_date'])

In [78]:
df_a.loc[df_a['meme_rate'].isna(),'meme_rate'] = 0
df_a['base_date'] = pd.to_datetime(df_a['base_date'],format='%Y,%m,%d')
df_a.drop(['year','month'],axis=1,inplace=True)
df_a['week_num'] = df_a['base_date'].dt.isocalendar().week
df_a = df_a[['base_date','region_b','region_s','week_num','meme_rate','meme_jisu']]
df_a

        base_date region_b region_s  week_num  meme_rate  meme_jisu
0      2011-02-28       서울     서울강북         9       0.05       82.2
1      2011-03-07       서울     서울강북        10       0.02       82.2
2      2011-03-14       서울     서울강북        11       0.02       82.3
3      2011-03-21       서울     서울강북        12       0.02       82.3
4      2011-03-28       서울     서울강북        13       0.00       82.3
...           ...      ...      ...       ...        ...        ...
867294 2021-05-31   제주/서귀포   제주/서귀포        22       0.55      101.8
867295 2021-06-07   제주/서귀포   제주/서귀포        23       0.71      102.6
867296 2021-06-14   제주/서귀포   제주/서귀포        24       0.91      103.5
867297 2021-06-21   제주/서귀포   제주/서귀포        25       0.61      104.1
867298 2021-06-28   제주/서귀포   제주/서귀포        26       0.66      104.8

[867299 rows x 6 columns]

## 하단 그래프인 매매시장 그래프 데이터

In [79]:
d3 = pd.concat([d3,d3_seju],axis=0)
d4 = pd.concat([d4,d4_seju],axis=0)

df_b = pd.merge(d3.drop(['ref_date','date_100'],axis=1),
                d4.drop(['ref_date','date_100'],axis=1),how='left',on=['year','month','region_b','region_s','base_date'])

In [80]:
df_b['base_date'] = pd.to_datetime(df_b['base_date'],format='%Y,%m,%d')
df_b.drop(['year','month'],axis=1,inplace=True)
df_b['week_num'] = df_b['base_date'].dt.isocalendar().week
df_b = df_b[['base_date','region_b','region_s','week_num','market_meme','market_mesu']]
df_b

        base_date region_b region_s  week_num  market_meme  market_mesu
0      2011-02-28       서울     서울강북         9         22.3         34.7
1      2011-03-07       서울     서울강북        10         16.5         32.3
2      2011-03-14       서울     서울강북        11         15.2         27.4
3      2011-03-21       서울     서울강북        12         11.0         26.8
4      2011-03-28       서울     서울강북        13          9.7         21.0
...           ...      ...      ...       ...          ...          ...
825090 2021-05-31   제주/서귀포   제주/서귀포        22         13.6        122.7
825091 2021-06-07   제주/서귀포   제주/서귀포        23          9.5        119.0
825092 2021-06-14   제주/서귀포   제주/서귀포        24          4.8        123.8
825093 2021-06-21   제주/서귀포   제주/서귀포        25          9.1        127.3
825094 2021-06-28   제주/서귀포   제주/서귀포        26          4.5        118.2

[825095 rows x 6 columns]

## 두개 합치기

In [81]:
df_bind = pd.merge(df_a,df_b,how='left',
                  on=['base_date','region_b','region_s','week_num'])

In [82]:
# 상단의 그래프(meme_rate,meme_jisu)는 있지만,
# 하단의 그래프(market_meme,market_mesu)는 없는 경우
df_bind.loc[df_bind['market_meme'].isna(),'market_meme'] = 0
df_bind.loc[df_bind['market_mesu'].isna(),'market_mesu'] = 0

## 지역 전처리

In [89]:
df_bind['region_b'] = df_bind['region_b'].replace({
    '서울':'서울특별시','경기':'경기도','인천':'인천광역시','부산':'부산광역시','대구':'대구광역시',
    '광주':'광주광역시','대전':'대전광역시','울산':'울산광역시','강원':'강원도','충북':'충청북도',
    '충남':'충청남도','전북':'전라북도','전남':'전라남도','경북':'경상북도','경남':'경상남도',
    '세종':'세종특별자치시','제주/서귀포':'제주특별자치도'
})

In [99]:
df_bind['region_s'].str.replace(r'서울|부산|대구|광주|대전|울산','').unique()

array(['강북', '강북구', '광진구', '노원구', '도봉구', '동대문구', '마포구', '서대문구', '성동구',
       '성북구', '용산구', '은평구', '종로구', '중구', '중랑구', '강남', '강남구', '강동구', '강서구',
       '관악구', '구로구', '금천구', '동작구', '서초구', '송파구', '양천구', '영등포구', '수원',
       '수원장안구', '수원권선구', '수원팔달구', '수원영통구', '성남', '성남수정구', '성남중원구',
       '성남분당구', '고양', '고양덕양구', '고양일산동구', '고양일산서구', '안양', '안양만안구', '안양동안구',
       '부천', '의정부', '광명', '평택', '안산', '안산단원구', '안산상록구', '과천', '구리', '남양주',
       '용인', '용인처인구', '용인기흥구', '용인수지구', '시흥', '군포', '의왕', '하남', '오산',
       '파주', '이천', '안성', '김포', '양주', '동두천', '', '화성', '인천중구', '인천동구',
       '인천미추홀구', '인천연수구', '인천남동구', '인천부평구', '인천계양구', '인천서구', '서구', '동구',
       '영도구', '진구', '동래구', '남구', '북구', '해운', '사하구', '금정구', '연제구', '수영구',
       '사상구', '기장군', '수성구', '달서구', '달성군', '광산구', '유성구', '대덕구', '울주군',
       '춘천', '강릉', '원주', '청주', '청주상당구', '청주서원구', '청주청원구', '청주흥덕구', '충주',
       '제천', '천안', '천안동남구', '천안서북구', '공주', '아산', '논산', '계룡', '당진', '서산',
       '전주', '전주완산구', '전주덕진구', '익산', '군산', '목포', '순천', '광양', '여수', '포항',
       '포항남구', '포항북구', '김천', '구미', '경산', '안동', '창원', '창원마산합포구', '창원마산회원구',
       '창원성산구', '창원의창구', '창원진해구', '양산', '거제', '진주', '김해', '통영', '세종',
       '제주/서귀포'], dtype=object)

In [101]:
df_bind[df_bind['region_s']=='광주']

,base_date,region_b,region_s,week_num,meme_rate,meme_jisu,market_meme,market_mesu
19040,2011-02-28,경기도,광주,9,0.00,98.6,30.6,47.2
19041,2011-03-07,경기도,광주,10,0.00,98.6,37.4,41.0
19042,2011-03-14,경기도,광주,11,0.00,98.6,33.8,41.4
19043,2011-03-21,경기도,광주,12,0.00,98.7,22.3,41.1
19044,2011-03-28,경기도,광주,13,0.01,98.7,26.2,50.4
...,...,...,...,...,...,...,...,...
8787944,2021-05-31,경기도,광주,22,0.69,122.5,15.7,97.0
8787945,2021-06-07,경기도,광주,23,0.68,123.3,16.8,102.1
8787946,2021-06-14,경기도,광주,24,0.38,123.8,16.4,101.9
8787947,2021-06-21,경기도,광주,25,0.64,124.6,19.1,104.4
8787948,2021-06-28,경기도,광주,26,0.30,125.0,18.2,105.9