In [1]:
import pandas as pd

In [2]:
dirr = 'C:/Users/rsh15/Desktop/seunghuni/crawler_project/data_save/kb_land/kb_land_req_text.csv'
data = pd.read_csv(dirr)

In [4]:
data[data['region_s'] == '서울강북']

,year,month,region_b,region_s,req_text
0,2012,1,서울,서울강북,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
163,2012,2,서울,서울강북,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
326,2012,3,서울,서울강북,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
489,2012,4,서울,서울강북,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
652,2012,5,서울,서울강북,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
815,2012,6,서울,서울강북,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
978,2012,7,서울,서울강북,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
1141,2012,8,서울,서울강북,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
1304,2012,9,서울,서울강북,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
1467,2012,10,서울,서울강북,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."