In [48]:
import pandas as pd

In [49]:
dirr = 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/stock/'

In [50]:
df = pd.read_csv(dirr+'/stock_price_record.csv',dtype={'code':'str'})
kospi_code = pd.read_csv(dirr+'/kospi_code.csv',encoding='CP949',dtype={'종목코드':'str'})
kosdaq_code = pd.read_csv(dirr+'/kosdaq_code.csv',encoding='CP949',dtype={'종목코드':'str'})

In [51]:
df = df.dropna(axis=0)
df = df.reset_index(drop=True)
df = df.rename(columns = {'code':'종목코드','type':'시장구분'})
df['날짜'] = df['날짜'].str.replace('.','',regex=False)

In [52]:
df['시장구분'] = df['시장구분'].str.upper()

In [53]:
code_df = pd.concat([kospi_code,kosdaq_code],axis=0)
code_df = code_df[['종목코드','종목명','시장구분','업종명']]
code_df

        종목코드      종목명    시장구분     업종명
0     095570   AJ네트웍스   KOSPI    서비스업
1     006840    AK홀딩스   KOSPI    기타금융
2     027410      BGF   KOSPI    기타금융
3     282330   BGF리테일   KOSPI     유통업
4     138930  BNK금융지주   KOSPI    기타금융
...      ...      ...     ...     ...
1503  024060     흥구석유  KOSDAQ      유통
1504  010240       흥국  KOSDAQ   기계·장비
1505  189980   흥국에프엔비  KOSDAQ  음식료·담배
1506  037440       희림  KOSDAQ   기타서비스
1507  238490       힘스  KOSDAQ     반도체

[2437 rows x 4 columns]

In [54]:
df_bind = pd.merge(df,code_df,how='left',on=['종목코드','시장구분'])
df_bind

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,시장구분,종목명,업종명
0,20210729,3275.0,0.0,3275.0,3275.0,3275.0,0.0,060310,KOSDAQ,3S,기계·장비
1,20210728,3275.0,85.0,3345.0,3390.0,3220.0,551351.0,060310,KOSDAQ,3S,기계·장비
2,20210727,3360.0,55.0,3305.0,3435.0,3275.0,676552.0,060310,KOSDAQ,3S,기계·장비
3,20210726,3305.0,105.0,3395.0,3400.0,3245.0,772081.0,060310,KOSDAQ,3S,기계·장비
4,20210723,3410.0,50.0,3405.0,3625.0,3325.0,4123591.0,060310,KOSDAQ,3S,기계·장비
...,...,...,...,...,...,...,...,...,...,...,...
5546009,20110630,872.0,7.0,883.0,883.0,864.0,102536.0,003280,KOSPI,흥아해운,운수창고업
5546010,20110629,879.0,1.0,873.0,880.0,868.0,112486.0,003280,KOSPI,흥아해운,운수창고업
5546011,20110628,880.0,18.0,887.0,909.0,875.0,123722.0,003280,KOSPI,흥아해운,운수창고업
5546012,20110627,898.0,6.0,894.0,910.0,875.0,129440.0,003280,KOSPI,흥아해운,운수창고업
5546013,20110624,892.0,25.0,870.0,918.0,870.0,277287.0,003280,KOSPI,흥아해운,운수창고업

In [57]:
df_bind.to_csv('C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/stock/stock_preprocessed.csv',index=0)