In [1]:
import pandas as pd

In [60]:
dirr = 'C:/Users/shic/Desktop/crawler_project/data_save/stock_price/'
stock_price_record = pd.read_csv(dirr+'stock_price_record.csv',low_memory=False).dropna(axis=0).reset_index(drop=True)
stock_price_record['type'] = [k.upper() for k in stock_price_record['type']]
stock_price_record

,날짜,종가,전일비,시가,고가,저가,거래량,code,type
0,2021.07.29,3275.0,0.0,3275.0,3275.0,3275.0,0.0,060310,KOSDAQ
1,2021.07.28,3275.0,85.0,3345.0,3390.0,3220.0,551351.0,060310,KOSDAQ
2,2021.07.27,3360.0,55.0,3305.0,3435.0,3275.0,676552.0,060310,KOSDAQ
3,2021.07.26,3305.0,105.0,3395.0,3400.0,3245.0,772081.0,060310,KOSDAQ
4,2021.07.23,3410.0,50.0,3405.0,3625.0,3325.0,4123591.0,060310,KOSDAQ
...,...,...,...,...,...,...,...,...,...
5546009,2011.06.30,872.0,7.0,883.0,883.0,864.0,102536.0,003280,KOSPI
5546010,2011.06.29,879.0,1.0,873.0,880.0,868.0,112486.0,003280,KOSPI
5546011,2011.06.28,880.0,18.0,887.0,909.0,875.0,123722.0,003280,KOSPI
5546012,2011.06.27,898.0,6.0,894.0,910.0,875.0,129440.0,003280,KOSPI
5546013,2011.06.24,892.0,25.0,870.0,918.0,870.0,277287.0,003280,KOSPI

In [61]:
kosdaq = pd.read_csv(dirr+'kosdaq_code.csv',encoding='CP949')[['종목코드','종목명','업종명','시장구분']]
kospi  = pd.read_csv(dirr+'kospi_code.csv',encoding='CP949')[['종목코드','종목명','업종명','시장구분']]
code_df = pd.concat([kosdaq,kospi],axis=0).reset_index(drop=True)
code_df

        종목코드      종목명      업종명    시장구분
0     060310       3S    기계·장비  KOSDAQ
1     054620   APS홀딩스       금융  KOSDAQ
2     265520    AP시스템      반도체  KOSDAQ
3     211270     AP위성     통신장비  KOSDAQ
4     013720      CBI  운송장비·부품  KOSDAQ
...      ...      ...      ...     ...
2432  069260      휴켐스       화학   KOSPI
2433  000540     흥국화재       보험   KOSPI
2434  000547  흥국화재2우B       보험   KOSPI
2435  000545    흥국화재우       보험   KOSPI
2436  003280     흥아해운    운수창고업   KOSPI

[2437 rows x 4 columns]

In [68]:
stock_df_bind = pd.merge(stock_price_record,code_df,how='left',
         left_on=['code','type'],right_on=['종목코드','시장구분'])
stock_df_bind['날짜'] = pd.to_datetime(stock_df_bind['날짜'],format='%Y.%m.%d')
stock_df_bind

,날짜,종가,전일비,시가,고가,저가,거래량,code,type,종목코드,종목명,업종명,시장구분
0,2021-07-29,3275.0,0.0,3275.0,3275.0,3275.0,0.0,060310,KOSDAQ,060310,3S,기계·장비,KOSDAQ
1,2021-07-28,3275.0,85.0,3345.0,3390.0,3220.0,551351.0,060310,KOSDAQ,060310,3S,기계·장비,KOSDAQ
2,2021-07-27,3360.0,55.0,3305.0,3435.0,3275.0,676552.0,060310,KOSDAQ,060310,3S,기계·장비,KOSDAQ
3,2021-07-26,3305.0,105.0,3395.0,3400.0,3245.0,772081.0,060310,KOSDAQ,060310,3S,기계·장비,KOSDAQ
4,2021-07-23,3410.0,50.0,3405.0,3625.0,3325.0,4123591.0,060310,KOSDAQ,060310,3S,기계·장비,KOSDAQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5546009,2011-06-30,872.0,7.0,883.0,883.0,864.0,102536.0,003280,KOSPI,003280,흥아해운,운수창고업,KOSPI
5546010,2011-06-29,879.0,1.0,873.0,880.0,868.0,112486.0,003280,KOSPI,003280,흥아해운,운수창고업,KOSPI
5546011,2011-06-28,880.0,18.0,887.0,909.0,875.0,123722.0,003280,KOSPI,003280,흥아해운,운수창고업,KOSPI
5546012,2011-06-27,898.0,6.0,894.0,910.0,875.0,129440.0,003280,KOSPI,003280,흥아해운,운수창고업,KOSPI
5546013,2011-06-24,892.0,25.0,870.0,918.0,870.0,277287.0,003280,KOSPI,003280,흥아해운,운수창고업,KOSPI

In [70]:
stock_df_bind['날짜'] > '2012-01-01'

0           True
1           True
2           True
3           True
4           True
           ...
5546009    False
5546010    False
5546011    False
5546012    False
5546013    False
Name: 날짜, Length: 5546014, dtype: bool

In [71]:
stock_df_bind.groupby('종목코드').size()

종목코드
000020    2490
000040    2490
000050    2490
000060    2490
000070    2490
          ...
950180    1520
950190    1586
950200     483
950210    2490
950220    1530
Length: 2437, dtype: int64

In [72]:
stock_df_bind[stock_df_bind['종목코드']=='950200']

,날짜,종가,전일비,시가,고가,저가,거래량,code,type,종목코드,종목명,업종명,시장구분
1258599,2021-07-29,13000.0,0.0,13000.0,13000.0,13000.0,0.0,950200,KOSDAQ,950200,소마젠,기타서비스,KOSDAQ
1258600,2021-07-28,13000.0,50.0,12900.0,13150.0,12900.0,70365.0,950200,KOSDAQ,950200,소마젠,기타서비스,KOSDAQ
1258601,2021-07-27,13050.0,50.0,13000.0,13150.0,12900.0,71961.0,950200,KOSDAQ,950200,소마젠,기타서비스,KOSDAQ
1258602,2021-07-26,13000.0,250.0,13250.0,13250.0,12950.0,104339.0,950200,KOSDAQ,950200,소마젠,기타서비스,KOSDAQ
1258603,2021-07-23,13250.0,200.0,13450.0,13550.0,13200.0,96755.0,950200,KOSDAQ,950200,소마젠,기타서비스,KOSDAQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259077,2020-07-13,15100.0,3450.0,11650.0,15100.0,10950.0,20758625.0,950200,KOSDAQ,950200,소마젠,기타서비스,KOSDAQ
1259078,2020-07-13,15100.0,3450.0,11650.0,15100.0,10950.0,20758625.0,950200,KOSDAQ,950200,소마젠,기타서비스,KOSDAQ
1259079,2020-07-13,15100.0,3450.0,11650.0,15100.0,10950.0,20758625.0,950200,KOSDAQ,950200,소마젠,기타서비스,KOSDAQ
1259080,2020-07-13,15100.0,3450.0,11650.0,15100.0,10950.0,20758625.0,950200,KOSDAQ,950200,소마젠,기타서비스,KOSDAQ
1259081,2020-07-13,15100.0,3450.0,11650.0,15100.0,10950.0,20758625.0,950200,KOSDAQ,950200,소마젠,기타서비스,KOSDAQ