In [32]:
import pandas as pd

In [33]:
dirr = 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/estate_trend/'

In [34]:
df = pd.read_csv(dirr + 'estate_trend.csv')

In [35]:
df = df[['PRD_DE','C1_NM','PRD_SE','DT']]

In [36]:
df['PRD_DE'] = df['PRD_DE'].str.replace(r'-','').str.slice(stop=6)
df['PRD_SE'] = np.where(df['C1_NM'].isin(['전국','수도권','비수도권']),'Y','N')

In [38]:
df.columns = ['BASE_YM','SIDONM','SUM_YN','M1_INDX_VALU']
df

     BASE_YM   SIDONM SUM_YN  M1_INDX_VALU
0     201201       전국      Y         111.2
1     201201      수도권      Y         106.0
2     201201    서울특별시      N         107.8
3     201201    인천광역시      N         101.5
4     201201      경기도      N         105.9
...      ...      ...    ...           ...
2069  202104     전라남도      N         112.1
2070  202104     경상북도      N         121.1
2071  202104     경상남도      N         115.4
2072  202104  세종특별자치시      N          93.3
2073  202104  제주특별자치도      N         120.0

[2074 rows x 4 columns]

In [39]:
df.to_csv(dirr + 'estate_trend_preprocessed.csv',index=0)