In [28]:
import pandas as pd
import numpy as np

In [29]:
dirr = 'C:/Users/shic/Desktop/crawler_project/main/estate_trend/dataa/estate_trend.csv'

In [30]:
df = pd.read_csv(dirr)[['PRD_DE','C1_NM','DT']]
df

          PRD_DE    C1_NM     DT
0     2012-01-01       전국  111.2
1     2012-01-01      수도권  106.0
2     2012-01-01    서울특별시  107.8
3     2012-01-01    인천광역시  101.5
4     2012-01-01      경기도  105.9
...          ...      ...    ...
2069  2021-04-01     전라남도  112.1
2070  2021-04-01     경상북도  121.1
2071  2021-04-01     경상남도  115.4
2072  2021-04-01  세종특별자치시   93.3
2073  2021-04-01  제주특별자치도  120.0

[2074 rows x 3 columns]

In [31]:
df['C1_NM'].unique()

array(['전국', '수도권', '서울특별시', '인천광역시', '경기도', '비수도권', '부산광역시', '대구광역시',
       '광주광역시', '대전광역시', '울산광역시', '강원도', '충청북도', '충청남도', '전라북도', '전라남도',
       '경상북도', '경상남도', '세종특별자치시', '제주특별자치도'], dtype=object)

In [32]:
# C1_NM이 전국, 수도권, 비수도권으로 되어 있는 집계 여부 컬럼
df['SUM_YN'] = np.where(df['C1_NM'].isin(['전국','수도권','비수도권']),'Y','N')
df.loc[df['SUM_YN'] == 'Y']['C1_NM'].unique()

array(['전국', '수도권', '비수도권'], dtype=object)

In [33]:
# 월별데이터이므로 날짜를 년-월-일에서 년-월로.
df['PRD_DE'] = df['PRD_DE'].str.replace('-','').str.slice(stop=6)
df['PRD_DE'].unique()

array(['201201', '201202', '201203', '201204', '201205', '201206',
       '201207', '201208', '201209', '201210', '201211', '201212',
       '201301', '201302', '201303', '201304', '201305', '201306',
       '201307', '201308', '201309', '201310', '201311', '201312',
       '201401', '201402', '201403', '201404', '201405', '201406',
       '201407', '201408', '201409', '201410', '201411', '201412',
       '201501', '201502', '201503', '201504', '201505', '201506',
       '201507', '201508', '201509', '201510', '201511', '201512',
       '201601', '201602', '201603', '201604', '201605', '201606',
       '201607', '201608', '201609', '201610', '201611', '201612',
       '201701', '201702', '201703', '201704', '201705', '201706',
       '201707', '201708', '201709', '201710', '201711', '201712',
       '201801', '201802', '201803', '201804', '201805', '201806',
       '201807', '201808', '201809', '201810', '201811', '201812',
       '201901', '201902', '201903', '201904', '201905', '201906',
       '201907', '201908', '201909', '201910', '201911', '201912',
       '202001', '202002', '202003', '202004', '202005', '202006',
       '202007', '202008', '202009', '202010', '202011', '202012',
       '202101', '202102', '202103', '202104'], dtype=object)

In [34]:
df_save = df[['PRD_DE','C1_NM','SUM_YN','DT']]
df_save.columns = ['MESR_YM','SIDONM','SUM_YN','INDX_VALU']
df_save

     MESR_YM   SIDONM SUM_YN  INDX_VALU
0     201201       전국      Y      111.2
1     201201      수도권      Y      106.0
2     201201    서울특별시      N      107.8
3     201201    인천광역시      N      101.5
4     201201      경기도      N      105.9
...      ...      ...    ...        ...
2069  202104     전라남도      N      112.1
2070  202104     경상북도      N      121.1
2071  202104     경상남도      N      115.4
2072  202104  세종특별자치시      N       93.3
2073  202104  제주특별자치도      N      120.0

[2074 rows x 4 columns]

In [35]:
df_save.to_csv('C:/Users/shic/Desktop/crawler_project/main/estate_trend/dataa/estate_trend_preprocessed.csv',index=False)