In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import selenium

In [2]:
dir_for_shinhan = 'C:/Users/shic/Desktop/shinhan_simon/chromedriver/chromedriver.exe'
dir_for_seunghun = 'C:/Users/rsh15/Desktop/seunghuni/selenium/chromedriver.exe'

header = {
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

In [15]:
# region code
f = open('C:/Users/shic/Desktop/crawler_project/data_save/estate_trade/region_code.txt','r')
strr = f.readlines()
region_list = []
for sub_str in strr:
    region_list.append(sub_str.replace('\n','').split('\t'))

In [43]:
region_df = pd.DataFrame(region_list)
region_df.columns = region_df.iloc[0,:]
region_df.drop(0,axis=0,inplace=True)
region_df['법정동코드_cut'] = region_df['법정동코드'].str.slice(stop=5)
region_df

0           법정동코드                  법정동명 폐지여부 법정동코드_cut
1      1100000000                 서울특별시   존재     11000
2      1111000000             서울특별시 종로구   존재     11110
3      1111010100         서울특별시 종로구 청운동   존재     11110
4      1111010200         서울특별시 종로구 신교동   존재     11110
5      1111010300         서울특별시 종로구 궁정동   존재     11110
...           ...                   ...  ...       ...
46288  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재     50130
46289  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재     50130
46290  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재     50130
46291  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재     50130
46292  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재     50130

[46292 rows x 4 columns]

In [50]:
parsing_code = region_df.groupby('법정동코드_cut')['법정동코드'].min().tolist()
parsed_region = region_df.loc[region_df['법정동코드'].isin(parsing_code),:]
parsed_region.reset_index(drop=True,inplace=True)
parsed_region

0         법정동코드          법정동명 폐지여부 법정동코드_cut
0    1100000000         서울특별시   존재     11000
1    1111000000     서울특별시 종로구   존재     11110
2    1114000000      서울특별시 중구   존재     11140
3    1117000000     서울특별시 용산구   존재     11170
4    1120000000     서울특별시 성동구   존재     11200
..          ...           ...  ...       ...
456  4971000000      제주도 북제주군   폐지     49710
457  4972000000      제주도 남제주군   폐지     49720
458  5000000000       제주특별자치도   존재     50000
459  5011000000   제주특별자치도 제주시   존재     50110
460  5013000000  제주특별자치도 서귀포시   존재     50130

[461 rows x 4 columns]

In [47]:
len(region_df['법정동코드_cut'].unique())

461

In [51]:
parsed_region.to_csv('C:/Users/shic/Desktop/crawler_project/data_save/estate_trade/region_code_parsed.csv',index=False)