In [1]:
import pandas as pd

In [60]:
dirr = 'C:/Users/shic/Desktop/crawler_project/data_save/stock_price/'
stock_price_record = pd.read_csv(dirr+'stock_price_record.csv',low_memory=False).dropna(axis=0).reset_index(drop=True)
stock_price_record['type'] = [k.upper() for k in stock_price_record['type']]
stock_price_record

,날짜,종가,전일비,시가,고가,저가,거래량,code,type
0,2021.07.29,3275.0,0.0,3275.0,3275.0,3275.0,0.0,060310,KOSDAQ
1,2021.07.28,3275.0,85.0,3345.0,3390.0,3220.0,551351.0,060310,KOSDAQ
2,2021.07.27,3360.0,55.0,3305.0,3435.0,3275.0,676552.0,060310,KOSDAQ
3,2021.07.26,3305.0,105.0,3395.0,3400.0,3245.0,772081.0,060310,KOSDAQ
4,2021.07.23,3410.0,50.0,3405.0,3625.0,3325.0,4123591.0,060310,KOSDAQ
...,...,...,...,...,...,...,...,...,...
5546009,2011.06.30,872.0,7.0,883.0,883.0,864.0,102536.0,003280,KOSPI
5546010,2011.06.29,879.0,1.0,873.0,880.0,868.0,112486.0,003280,KOSPI
5546011,2011.06.28,880.0,18.0,887.0,909.0,875.0,123722.0,003280,KOSPI
5546012,2011.06.27,898.0,6.0,894.0,910.0,875.0,129440.0,003280,KOSPI
5546013,2011.06.24,892.0,25.0,870.0,918.0,870.0,277287.0,003280,KOSPI

In [61]:
kosdaq = pd.read_csv(dirr+'kosdaq_code.csv',encoding='CP949')[['종목코드','종목명','업종명','시장구분']]
kospi  = pd.read_csv(dirr+'kospi_code.csv',encoding='CP949')[['종목코드','종목명','업종명','시장구분']]
code_df = pd.concat([kosdaq,kospi],axis=0).reset_index(drop=True)
code_df

        종목코드      종목명      업종명    시장구분
0     060310       3S    기계·장비  KOSDAQ
1     054620   APS홀딩스       금융  KOSDAQ
2     265520    AP시스템      반도체  KOSDAQ
3     211270     AP위성     통신장비  KOSDAQ
4     013720      CBI  운송장비·부품  KOSDAQ
...      ...      ...      ...     ...
2432  069260      휴켐스       화학   KOSPI
2433  000540     흥국화재       보험   KOSPI
2434  000547  흥국화재2우B       보험   KOSPI
2435  000545    흥국화재우       보험   KOSPI
2436  003280     흥아해운    운수창고업   KOSPI

[2437 rows x 4 columns]

In [85]:
stock_df_bind = pd.merge(stock_price_record,code_df,how='left',
         left_on=['code','type'],right_on=['종목코드','시장구분'])
stock_df_bind['날짜'] = pd.to_datetime(stock_df_bind['날짜'],format='%Y.%m.%d')
stock_df_bind.drop(['code','type'],axis=1,inplace=True)
stock_df_bind = stock_df_bind[stock_df_bind['날짜'] > '2011-12-31']
stock_df_bind

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명,업종명,시장구분
0,2021-07-29,3275.0,0.0,3275.0,3275.0,3275.0,0.0,060310,3S,기계·장비,KOSDAQ
1,2021-07-28,3275.0,85.0,3345.0,3390.0,3220.0,551351.0,060310,3S,기계·장비,KOSDAQ
2,2021-07-27,3360.0,55.0,3305.0,3435.0,3275.0,676552.0,060310,3S,기계·장비,KOSDAQ
3,2021-07-26,3305.0,105.0,3395.0,3400.0,3245.0,772081.0,060310,3S,기계·장비,KOSDAQ
4,2021-07-23,3410.0,50.0,3405.0,3625.0,3325.0,4123591.0,060310,3S,기계·장비,KOSDAQ
...,...,...,...,...,...,...,...,...,...,...,...
5545878,2012-01-06,681.0,11.0,706.0,706.0,674.0,169293.0,003280,흥아해운,운수창고업,KOSPI
5545879,2012-01-05,692.0,7.0,681.0,698.0,680.0,144870.0,003280,흥아해운,운수창고업,KOSPI
5545880,2012-01-04,685.0,12.0,697.0,706.0,681.0,307120.0,003280,흥아해운,운수창고업,KOSPI
5545881,2012-01-03,697.0,20.0,718.0,720.0,693.0,233570.0,003280,흥아해운,운수창고업,KOSPI
5545882,2012-01-02,717.0,12.0,759.0,759.0,695.0,259446.0,003280,흥아해운,운수창고업,KOSPI

In [92]:
min_date = stock_df_bind.groupby(['종목명'],as_index=False)['날짜'].min()
min_date.loc[min_date['날짜'] > '2020-12-31','']

0       False
1       False
2       False
3       False
4       False
        ...
2432    False
2433    False
2434    False
2435    False
2436    False
Name: 날짜, Length: 2437, dtype: bool