In [3]:
import pandas as pd
from selenium import webdriver
import numpy as np
from bs4 import BeautifulSoup
import re
import requests
from time import sleep
import json
import warnings
warnings.filterwarnings('ignore')

In [4]:
dirr  = 'C:/Users/seunghun/Desktop/kb_land_req_text.csv'
dataa = pd.read_csv(dirr).reset_index(drop=True)

In [8]:
dataa

,index,year,month,region_b,region_s,req_text
0,0,2012,1,서울,서울강북,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
1,1,2012,1,서울,서울강북구,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
2,2,2012,1,서울,서울광진구,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
3,3,2012,1,서울,서울노원구,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
4,4,2012,1,서울,서울도봉구,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
...,...,...,...,...,...,...
18577,18577,2021,6,경남,양산,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
18578,18578,2021,6,경남,거제,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
18579,18579,2021,6,경남,진주,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
18580,18580,2021,6,경남,김해,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."
18581,18581,2021,6,경남,통영,"<!doctype html>\r\n\r\n<html lang=""ko"">\r\n<he..."

In [5]:
dataa['req_text']

0        <!doctype html>\r\n\r\n<html lang="ko">\r\n<he...
1        <!doctype html>\r\n\r\n<html lang="ko">\r\n<he...
2        <!doctype html>\r\n\r\n<html lang="ko">\r\n<he...
3        <!doctype html>\r\n\r\n<html lang="ko">\r\n<he...
4        <!doctype html>\r\n\r\n<html lang="ko">\r\n<he...
                               ...
18577    <!doctype html>\r\n\r\n<html lang="ko">\r\n<he...
18578    <!doctype html>\r\n\r\n<html lang="ko">\r\n<he...
18579    <!doctype html>\r\n\r\n<html lang="ko">\r\n<he...
18580    <!doctype html>\r\n\r\n<html lang="ko">\r\n<he...
18581    <!doctype html>\r\n\r\n<html lang="ko">\r\n<he...
Name: req_text, Length: 18582, dtype: object

In [77]:
def data_from_graph1(datum):
    tmp_list = []
    search_graph1 = re.search('var graphYn1 = [$](.+?);',datum[1]['req_text'],re.S)
    
    if search_graph1 is None:
        return_df_without_data = pd.DataFrame({
            'year'     : datum[1]['year'],
            'month'    : datum[1]['month'],
            'region_b' : datum[1]['region_b'],
            'region_s' : datum[1]['region_s'],
            'ref_date' : 0,
            'jisu_v'   : 0,
            'jisu_d'   : 0
        },index=[0])
        
        tmp_list.append(return_df_without_data)
    
    else:
        
        jisu_split = search_graph1.group(1)
        jisu_split = jisu_split.replace(".trim('[","").replace("') == '' ? false: true","").replace('Date.UTC(','')
        jisu_split = jisu_split.split('], [')
    
        date_list_jisu = []
        data_list_jisu = []
    
        for jisu in jisu_split:
            jisu_parser = jisu.split('), ')

            jisu_date_parser = jisu_parser[0].replace(' ','').split(',')

            date_list_jisu.append(','.join([
                jisu_date_parser[0],
                str(int(jisu_date_parser[1]) + 1),
                jisu_date_parser[2]]))
            
            data_list_jisu.append(jisu_parser[1].replace(']','').replace(',',''))
        
        ref_date = re.search('<p class="date">(.+?)</p>',datum[1]['req_text'])[0]
        ref_date = re.sub('<.*?>','',ref_date,re.S)
        
        return_df_with_data = pd.DataFrame({
            'year'     : datum[1]['year'],
            'month'    : datum[1]['month'],
            'region_b' : datum[1]['region_b'],
            'region_s' : datum[1]['region_s'],
            'ref_date' : ref_date,
            'jisu_v'   : data_list_jisu,
            'jisu_d'   : date_list_jisu 
        })
        tmp_list.append(return_df_with_data)

In [78]:
df_bind = pd.concat(tmp_list,axis=0)
df_bind

    year  month region_b region_s           ref_date jisu_v     jisu_d
0   2012      1       서울     서울강북  (기준일: 2012.01.30)   82.2  2011,2,28
1   2012      1       서울     서울강북  (기준일: 2012.01.30)   82.2   2011,3,7
2   2012      1       서울     서울강북  (기준일: 2012.01.30)   82.3  2011,3,14
3   2012      1       서울     서울강북  (기준일: 2012.01.30)   82.3  2011,3,21
4   2012      1       서울     서울강북  (기준일: 2012.01.30)   82.3  2011,3,28
..   ...    ...      ...      ...                ...    ...        ...
41  2021      6       경남       통영  (기준일: 2021.06.28)  100.7  2021,5,31
42  2021      6       경남       통영  (기준일: 2021.06.28)  100.9   2021,6,7
43  2021      6       경남       통영  (기준일: 2021.06.28)  100.9  2021,6,14
44  2021      6       경남       통영  (기준일: 2021.06.28)    101  2021,6,21
45  2021      6       경남       통영  (기준일: 2021.06.28)    101  2021,6,28

[859608 rows x 7 columns]