In [22]:
import pandas as pd
from selenium import webdriver
import numpy as np
from bs4 import BeautifulSoup
import re
import requests
from time import sleep
import json
import warnings
warnings.filterwarnings('ignore')

In [23]:
dir_for_shinhan = 'C:/Users/shic/Desktop/shinhan_simon/chromedriver/chromedriver.exe'
dir_for_seunghun = 'C:/Users/rsh15/Desktop/seunghuni/selenium/chromedriver.exe'

In [24]:
region_code = pd.read_csv('C:/Users/shic/Desktop/crawler_project/data_save/kb_land/region_code.csv')

In [25]:
region_code = region_code[region_code['big_region_name'].isin(['서울'])]
region_code.head(5)

   big_region_code big_region_name  small_region_code small_region_name
0       1100000000              서울         1199000000              서울강북
1       1100000000              서울         1130500000             서울강북구
2       1100000000              서울         1121500000             서울광진구
3       1100000000              서울         1135000000             서울노원구
4       1100000000              서울         1132000000             서울도봉구

In [26]:
driver = webdriver.Chrome(dir_for_shinhan)
driver.maximize_window()
driver.refresh()

In [27]:
kb_list = []
base_url = 'https://onland.kbstar.com/quics?page=C060737&%EB%B2%95%EC%A0%95%EB%8F%99%EB%8C%80%EC%A7%80%EC%97%AD%EC%BD%94%EB%93%9C={}&%EB%B2%95%EC%A0%95%EB%8F%99%EC%A4%91%EC%A7%80%EC%97%AD%EC%BD%94%EB%93%9C={}&%EA%B8%B0%EC%A4%80%EB%85%84={}&%EA%B8%B0%EC%A4%80%EC%9B%94={}&QSL=F'

for year in range(2020,2022):
    year = str(year)
    for month in range(1,13):
        if int(month) < 10:
            month = '0' + str(month)
        else:
            month = str(month)
        for region in region_code.iterrows():
            # format은 대지역 코드, 중지역 코드, 년, 월 순.
            tmp_url = base_url.format(region[1]['big_region_code'],region[1]['small_region_code'],year,month)
            
            # URL 접속
            driver.get(url = tmp_url) 
            
            # 그래프의 데이터 가져오기
            soup = BeautifulSoup(driver.page_source,'html.parser')
            
            aa = re.search('var graphYn1 = [$](.+?);',driver.page_source,re.S).group(1)
            aa = aa.replace(".trim('[","").replace("') == '' ? false: true","").replace('Date.UTC(','')
            aa = aa.split('], [')
            
            date_list_aa = []
            data_list_aa = []
            for k in aa:
                tmpp = k.split('),')
                data_wrangle = tmpp[0].split(', ')
                data_wrangle[1] = str(int(data_wrangle[1]) + 1)
                
                date_list_aa.append(','.join(data_wrangle))
                data_list_aa.append(float(tmpp[1].replace(']','')))
                
            bb = re.search('var graphYn2 = [$](.+?);',driver.page_source,re.S).group(1)
            bb = bb.replace(".trim('[","").replace("') == '' ? false: true","").replace('Date.UTC(','')
            bb = bb.split('], [')
            
            date_list_bb = []
            data_list_bb = []
            for k in bb:
                tmpp = k.split('),')
                data_wrangle = tmpp[0].split(', ')
                data_wrangle[1] = str(int(data_wrangle[1]) + 1)
                
                date_list_bb.append(','.join(data_wrangle))
                data_list_bb.append(float(tmpp[1].replace(']','').replace(',','')))
                
            kb_list.append(pd.DataFrame({
                'b_region' : region[1]['big_region_name'],
                's_region' : region[1]['small_region_name'],
                'date_a'   : pd.to_datetime(date_list_aa,format='%Y,%m,%d'),
                'value1'   : data_list_aa,
                'date_b'   : pd.to_datetime(date_list_bb,format='%Y,%m,%d'),
                'value2'   : data_list_bb
            }))

In [30]:
df = pd.concat(kb_list,axis=0).drop_duplicates()
df['date_a'] = pd.to_datetime(df['date_a'],format='%Y-%m-%d')
df['date_b'] = pd.to_datetime(df['date_b'],format='%Y-%m-%d')

In [31]:
df

   b_region s_region     date_a  value1     date_b  value2
0        서울     서울강북 2019-02-25    99.9 2019-02-25   -0.01
1        서울     서울강북 2019-03-04    99.9 2019-03-04   -0.02
2        서울     서울강북 2019-03-11    99.9 2019-03-11   -0.02
3        서울     서울강북 2019-03-18    99.9 2019-03-18   -0.01
4        서울     서울강북 2019-03-25    99.9 2019-03-25   -0.01
..      ...      ...        ...     ...        ...     ...
45       서울    서울동작구 2021-07-05   130.2 2021-07-05    0.18
45       서울    서울서초구 2021-07-05   119.1 2021-07-05    0.29
45       서울    서울송파구 2021-07-05   126.9 2021-07-05    0.24
45       서울    서울양천구 2021-07-05   130.2 2021-07-05    0.34
45       서울   서울영등포구 2021-07-05   129.3 2021-07-05    0.27

[3213 rows x 6 columns]