In [1]:
import pandas as pd

In [2]:
dirr = 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/estate_registration/'

In [3]:
df_land = pd.read_csv(dirr + 'regist_trade_avg_price(land)_preprocessed.csv')
df_apt  = pd.read_csv(dirr + 'regist_trade_avg_price_preprocessed.csv')

In [9]:
df_land.columns = ['BASE_YM', 'SIDONM', 'SIGNGU_NM', 'land_avg_price', 'land_trade_count']
df_apt.columns  = ['BASE_YM', 'SIDONM', 'SIGNGU_NM', 'apt_avg_price', 'apt_trade_count']

In [13]:
print(df_land.shape)
print(df_apt.shape)

(28551, 5)
(28605, 5)

In [21]:
idxx = pd.concat([df_land[['BASE_YM', 'SIDONM', 'SIGNGU_NM']],
                  df_apt[['BASE_YM', 'SIDONM', 'SIGNGU_NM']]]).drop_duplicates()
idxx

       BASE_YM SIDONM SIGNGU_NM
0       201201  서울특별시       강남구
1       201201  서울특별시       강동구
2       201201  서울특별시       강북구
3       201201  서울특별시       강서구
4       201201  서울특별시       관악구
...        ...    ...       ...
27451   202103    경기도   수원시 영통구
27708   202104    경기도   안양시 동안구
27950   202105    경기도   수원시 영통구
28116   202106  서울특별시       노원구
28364   202107  서울특별시       금천구

[28748 rows x 3 columns]

In [24]:
df = pd.merge(idxx,df_land,how='left',on=['BASE_YM', 'SIDONM', 'SIGNGU_NM'])
df = pd.merge(df,df_apt,how='left',on=['BASE_YM', 'SIDONM', 'SIGNGU_NM'])
df

,BASE_YM,SIDONM,SIGNGU_NM,land_avg_price,land_trade_count,apt_avg_price,apt_trade_count
0,201201,서울특별시,강남구,3022353.0,5.0,8511188.0,128.0
1,201201,서울특별시,강동구,423162.0,2.0,6376436.0,123.0
2,201201,서울특별시,강북구,2482330.0,10.0,3401652.0,63.0
3,201201,서울특별시,강서구,287156.0,1.0,3711284.0,169.0
4,201201,서울특별시,관악구,2787434.0,2.0,4351614.0,81.0
...,...,...,...,...,...,...,...
28743,202103,경기도,수원시 영통구,NaN,NaN,6581282.0,1247.0
28744,202104,경기도,안양시 동안구,NaN,NaN,7105759.0,534.0
28745,202105,경기도,수원시 영통구,NaN,NaN,7449763.0,1087.0
28746,202106,서울특별시,노원구,NaN,NaN,8664263.0,373.0
28747,202107,서울특별시,금천구,NaN,NaN,6246875.0,401.0

In [28]:
num_cols = ['land_avg_price','land_trade_count','apt_avg_price','apt_trade_count']
df[num_cols] = df[num_cols].fillna(0)

In [29]:
df

,BASE_YM,SIDONM,SIGNGU_NM,land_avg_price,land_trade_count,apt_avg_price,apt_trade_count
0,201201,서울특별시,강남구,3022353.0,5.0,8511188.0,128.0
1,201201,서울특별시,강동구,423162.0,2.0,6376436.0,123.0
2,201201,서울특별시,강북구,2482330.0,10.0,3401652.0,63.0
3,201201,서울특별시,강서구,287156.0,1.0,3711284.0,169.0
4,201201,서울특별시,관악구,2787434.0,2.0,4351614.0,81.0
...,...,...,...,...,...,...,...
28743,202103,경기도,수원시 영통구,0.0,0.0,6581282.0,1247.0
28744,202104,경기도,안양시 동안구,0.0,0.0,7105759.0,534.0
28745,202105,경기도,수원시 영통구,0.0,0.0,7449763.0,1087.0
28746,202106,서울특별시,노원구,0.0,0.0,8664263.0,373.0
28747,202107,서울특별시,금천구,0.0,0.0,6246875.0,401.0

In [30]:
df.isna().sum()

BASE_YM             0
SIDONM              0
SIGNGU_NM           0
land_avg_price      0
land_trade_count    0
apt_avg_price       0
apt_trade_count     0
dtype: int64

In [31]:
df.to_csv('C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/estate_registration/regist_trade_apt_land_bind.csv',
          index=False,encoding='UTF-8-sig')