In [15]:
import pandas as pd
import numpy as np

In [2]:
dirr = 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/estate_registration/'
court_df = pd.read_csv('C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/court/RAA_법원경매통계_유승훈.csv')
trade_avg_price = pd.read_csv(dirr + 'regist_trade_avg_price.csv')

In [6]:
regions = court_df[['SIDONM','SIGNGU_NM']].drop_duplicates()
regions

      SIDONM SIGNGU_NM
0        강원도       강릉시
115      강원도       고성군
230      강원도       동해시
345      강원도       삼척시
460      강원도       속초시
...      ...       ...
29900   충청북도   청주시 상당구
30015   충청북도   청주시 서원구
30130   충청북도   청주시 청원구
30245   충청북도   청주시 흥덕구
30360   충청북도       충주시

[265 rows x 2 columns]

In [21]:
trade_avg_price

,admin_regn1_name,admin_regn2_name,admin_regn1_cd,admin_regn2_cd,tot1,res_date,tot2,search_start_date,search_end_date
0,서울특별시,강남구,11,강남구,8511188,2012-01,128,201201,201201
1,서울특별시,강동구,11,강동구,6376436,2012-01,123,201201,201201
2,서울특별시,강북구,11,강북구,3401652,2012-01,63,201201,201201
3,서울특별시,강서구,11,강서구,3711284,2012-01,169,201201,201201
4,서울특별시,관악구,11,관악구,4351614,2012-01,81,201201,201201
...,...,...,...,...,...,...,...,...,...
28600,경상남도,함안군,48,함안군,1813659,2021-07,47,202107,202107
28601,경상남도,함양군,48,함양군,1926557,2021-07,9,202107,202107
28602,경상남도,합천군,48,합천군,3187101,2021-07,17,202107,202107
28603,제주특별자치도,서귀포시,50,서귀포시,4956775,2021-07,314,202107,202107
28604,제주특별자치도,제주시,50,제주시,4204038,2021-07,648,202107,202107

In [46]:
# 등기 데이터의 시군구에 세종특별자치시가 @로 되어 있는것을 전처리
trade_avg_price = trade_avg_price.replace({'admin_regn2_name':{'@':'세종특별자치시'}})

In [61]:
trade_df_join = pd.merge(trade_avg_price,regions,how='left',
                         left_on = ['admin_regn1_name','admin_regn2_name'],
                         right_on = ['SIDONM','SIGNGU_NM'])
trade_df_join

,admin_regn1_name,admin_regn2_name,admin_regn1_cd,admin_regn2_cd,tot1,res_date,tot2,search_start_date,search_end_date,SIDONM,SIGNGU_NM
0,서울특별시,강남구,11,강남구,8511188,2012-01,128,201201,201201,서울특별시,강남구
1,서울특별시,강동구,11,강동구,6376436,2012-01,123,201201,201201,서울특별시,강동구
2,서울특별시,강북구,11,강북구,3401652,2012-01,63,201201,201201,서울특별시,강북구
3,서울특별시,강서구,11,강서구,3711284,2012-01,169,201201,201201,서울특별시,강서구
4,서울특별시,관악구,11,관악구,4351614,2012-01,81,201201,201201,서울특별시,관악구
...,...,...,...,...,...,...,...,...,...,...,...
28600,경상남도,함안군,48,함안군,1813659,2021-07,47,202107,202107,경상남도,함안군
28601,경상남도,함양군,48,함양군,1926557,2021-07,9,202107,202107,경상남도,함양군
28602,경상남도,합천군,48,합천군,3187101,2021-07,17,202107,202107,경상남도,합천군
28603,제주특별자치도,서귀포시,50,서귀포시,4956775,2021-07,314,202107,202107,제주특별자치도,서귀포시
28604,제주특별자치도,제주시,50,제주시,4204038,2021-07,648,202107,202107,제주특별자치도,제주시

In [62]:
trade_df_join = trade_df_join[['search_start_date','admin_regn1_name','admin_regn2_name','tot1','tot2']]
trade_df_join

       search_start_date admin_regn1_name admin_regn2_name     tot1  tot2
0                 201201            서울특별시              강남구  8511188   128
1                 201201            서울특별시              강동구  6376436   123
2                 201201            서울특별시              강북구  3401652    63
3                 201201            서울특별시              강서구  3711284   169
4                 201201            서울특별시              관악구  4351614    81
...                  ...              ...              ...      ...   ...
28600             202107             경상남도              함안군  1813659    47
28601             202107             경상남도              함양군  1926557     9
28602             202107             경상남도              합천군  3187101    17
28603             202107          제주특별자치도             서귀포시  4956775   314
28604             202107          제주특별자치도              제주시  4204038   648

[28605 rows x 5 columns]

In [63]:
trade_df_join.isna().sum()

search_start_date    0
admin_regn1_name     0
admin_regn2_name     0
tot1                 0
tot2                 0
dtype: int64

In [64]:
trade_df_join.columns = ['BASE_YM','SIDONM','SIGNGU_NM','avg_price','trade_count']

In [65]:
trade_df_join.to_csv('C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/estate_registration/regist_trade_avg_price_preprocessed.csv',
                     index=False,encoding='UTF-8-sig')