In [1]:
import pandas as pd

In [2]:
dirr = 'C:/Users/rsh15/Google Drive/crawler_data/kbland/meta'

In [3]:
tmp = pd.read_csv(dirr+'/region_code.csv')

In [4]:
tmp

     big_region_code big_region_name small_region_code small_region_name
0         9800000000              전국                                (전체)
1         1100000000              서울                                (전체)
2         1100000000              서울        1199000000              서울강북
3         1100000000              서울        1130500000             서울강북구
4         1100000000              서울        1121500000             서울광진구
..               ...             ...               ...               ...
180       4800000000              경남        4817000000                진주
181       4800000000              경남        4825000000                김해
182       4800000000              경남        4822000000                통영
183       5000000000          제주/서귀포                                (전체)
184       9804000000            기타지방                                (전체)

[185 rows x 4 columns]