In [49]:
# 데이터가 너무 커서 선임님 요청으로 데이터 분할하는 코드
import pandas as pd
import numpy as np

In [50]:
dirr = 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/kbland/kbland_bind_preprocessed.csv'
df = pd.read_csv(dirr)

In [51]:
df

,BASE_YM,SIDONM,SIGNGU_NM,WK_NO,TRDE_PRICE_CHNG_RT,TRDE_PRICE_INDX,TRDE_DEAL_INDX,BUY_ADVAN_INDX
0,201102,서울특별시,강북,9,0.05,82.2,22.3,34.7
1,201103,서울특별시,강북,10,0.02,82.2,16.5,32.3
2,201103,서울특별시,강북,11,0.02,82.3,15.2,27.4
3,201103,서울특별시,강북,12,0.02,82.3,11.0,26.8
4,201103,서울특별시,강북,13,0.00,82.3,9.7,21.0
...,...,...,...,...,...,...,...,...
8898960,202105,제주특별자치도,제주특별자치도,22,0.55,101.8,13.6,122.7
8898961,202106,제주특별자치도,제주특별자치도,23,0.71,102.6,9.5,119.0
8898962,202106,제주특별자치도,제주특별자치도,24,0.91,103.5,4.8,123.8
8898963,202106,제주특별자치도,제주특별자치도,25,0.61,104.1,9.1,127.3
8898964,202106,제주특별자치도,제주특별자치도,26,0.66,104.8,4.5,118.2

In [65]:
df_tmp = df.groupby(['BASE_YM','SIDONM','SIGNGU_NM','WK_NO'],as_index=False).agg({
    'TRDE_PRICE_CHNG_RT' : 'mean',
    'TRDE_PRICE_INDX' : 'mean',
    'TRDE_DEAL_INDX' : 'mean',
    'BUY_ADVAN_INDX' : 'mean'
})
df_tmp.reset_index(drop=True)

,BASE_YM,SIDONM,SIGNGU_NM,WK_NO,TRDE_PRICE_CHNG_RT,TRDE_PRICE_INDX,TRDE_DEAL_INDX,BUY_ADVAN_INDX
0,190001,경상북도,김천시,1,9999.00,9999.0,9999.0,9999.0
1,201102,강원도,강릉시,9,0.32,72.6,0.0,0.0
2,201102,강원도,원주시,9,0.01,74.6,0.0,0.0
3,201102,강원도,춘천시,9,0.42,81.2,0.0,0.0
4,201102,경기도,고양,9,0.08,94.8,30.6,47.2
...,...,...,...,...,...,...,...,...
85235,202106,충청북도,청주시 흥덕구,26,0.31,111.6,15.7,122.4
85236,202106,충청북도,충주시,23,0.41,103.3,17.6,128.5
85237,202106,충청북도,충주시,24,0.27,103.6,16.3,129.7
85238,202106,충청북도,충주시,25,0.49,104.1,15.4,122.2
85239,202106,충청북도,충주시,26,0.29,104.4,15.7,122.4

In [58]:
df_tmp.to_csv('C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/kbland/kbland_calculated.csv',
             index=False,encoding='UTF-8-sig')