In [199]:
import pandas as pd
import glob
import os
import re
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [200]:
dirr = 'C:/Users/shic/Desktop/crawler_project/data_save/'

In [201]:
list_files = ['courtauction/df_court.csv',
              'estate_trend/estate_trend.csv',
              'kb_land/kb_land_mp.csv',
              'taxx/jaesan_df.csv','taxx/jongbu_df.csv']
list_files

['courtauction/df_court.csv',
 'estate_trend/estate_trend.csv',
 'kb_land/kb_land_mp.csv',
 'taxx/jaesan_df.csv',
 'taxx/jongbu_df.csv']

In [202]:
df_court     = pd.read_csv(dirr + list_files[0])
estate_trend = pd.read_csv(dirr + list_files[1])
kb_land      = pd.read_csv(dirr + list_files[2])
jaesan_df    = pd.read_csv(dirr + list_files[3])
jongbu_df    = pd.read_csv(dirr + list_files[4])

In [203]:
df_court['sido'].unique()
estate_trend['C1_NM'].unique()

array(['서울특별시', '경기도', '인천광역시'], dtype=object)

array(['전국', '수도권', '서울특별시', '인천광역시', '경기도', '비수도권', '부산광역시', '대구광역시',
       '광주광역시', '대전광역시', '울산광역시', '강원도', '충청북도', '충청남도', '전라북도', '전라남도',
       '경상북도', '경상남도', '세종특별자치시', '제주특별자치도'], dtype=object)

In [204]:
print(df_court['sido'].unique())
print(df_court['sigu'].unique())

['서울특별시' '경기도' '인천광역시']
['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구' '가평군' '고양시' '고양시 덕양구' '고양시 일산구' '고양시 일산동구' '고양시 일산서구' '과천시' '광명시'
 '광주시' '구리시' '군포시' '김포시' '남양주시' '동두천시' '부천시' '부천시 남구' '부천시 소사구' '부천시 오정구'
 '부천시 원미구' '부천시 중구' '성남시' '성남시 분당구' '성남시 수정구' '성남시 중원구' '수원시' '수원시 권선구'
 '수원시 영통구' '수원시 장안구' '수원시 팔달구' '시흥시' '안산시' '안산시 단원구' '안산시 상록구' '안성군' '안성시'
 '안양시' '안양시 동안구' '안양시 만안구' '양주시' '양평군' '여주군' '여주시' '연천군' '오산시' '용인시'
 '용인시 기흥구' '용인시 수지구' '용인시 처인구' '의왕시' '의정부시' '이천시' '파주시' '평택군' '평택시' '포천시'
 '하남시' '화성시' '강화군' '계양구' '남구' '남동구' '동구' '미추홀구' '부평구' '북구' '서구' '연수구'
 '옹진군']

In [205]:
kb_land.columns

Index(['entered_year', 'entered_month', 'big_region_name', 'small_region_name',
       'date_list_jisu', 'data_list_jisu', 'date_list_rate', 'data_list_rate'],
      dtype='object')

In [206]:
print(kb_land['big_region_name'].unique())
print(kb_land['small_region_name'].unique())

['서울' '경기' '인천']
['서울강북' '서울강북구' '서울광진구' '서울노원구' '서울도봉구' '서울동대문구' '서울마포구' '서울서대문구' '서울성동구'
 '서울성북구' '서울용산구' '서울은평구' '서울종로구' '서울중구' '서울중랑구' '서울강남' '서울강남구' '서울강동구'
 '서울강서구' '서울관악구' '서울구로구' '서울금천구' '서울동작구' '서울서초구' '서울송파구' '서울양천구' '서울영등포구'
 '수원' '수원장안구' '수원권선구' '수원팔달구' '수원영통구' '성남' '성남수정구' '성남중원구' '성남분당구' '고양'
 '고양덕양구' '고양일산동구' '고양일산서구' '안양' '안양만안구' '안양동안구' '부천' '의정부' '광명' '평택' '안산'
 '안산단원구' '안산상록구' '과천' '구리' '남양주' '용인' '용인처인구' '용인기흥구' '용인수지구' '시흥' '군포'
 '의왕' '하남' '오산' '파주' '이천' '안성' '김포' '양주' '동두천' '광주' '화성' '인천중구' '인천동구'
 '인천미추홀구' '인천연수구' '인천남동구' '인천부평구' '인천계양구' '인천서구']

In [207]:
kb_land['big_region_name'] = kb_land['big_region_name'].replace({'서울':'서울특별시',
                                                   '경기':'경기도',
                                                   '인천':'인천광역시'})
kb_land['small_region_name'] = [re.sub('서울|인천','',region) for region in kb_land['small_region_name']]
kb_land['small_region_name'] = kb_land.replace({
    'small_region_name':{'고양':'고양시 ',
                         '수원':'수원시 ',
                         '안산':'안산시 ',
                         '성남':'성남시 ',
                         '용인':'용인시 ',
                         '안양':'안양시 '}},regex=True)['small_region_name']
kb_land['small_region_name'] = kb_land['small_region_name'].str.strip()

In [208]:
to_replace = kb_land['small_region_name'][-kb_land['small_region_name'].isin(df_court['sigu'])].unique().tolist()
replace_dict = {}
for rep in to_replace:
    if rep == '강북' or rep == '강남':
        replace_dict[rep] = str(rep) + '구'
    else:
        replace_dict[rep] = str(rep) + '시'
kb_land['small_region_name'] = kb_land.replace({
    'small_region_name' : replace_dict
},regex=True)['small_region_name']

In [209]:
kb_land[-kb_land['small_region_name'].isin(df_court['sigu'])]

,entered_year,entered_month,big_region_name,small_region_name,date_list_jisu,data_list_jisu,date_list_rate,data_list_rate
48,2010,1,서울특별시,강북구구,"2009,3,2",88.3,"2009,3,2",0.00
49,2010,1,서울특별시,강북구구,"2009,3,9",88.1,"2009,3,9",-0.41
50,2010,1,서울특별시,강북구구,"2009,3,16",88.0,"2009,3,16",-0.28
51,2010,1,서울특별시,강북구구,"2009,3,23",88.0,"2009,3,23",-0.05
52,2010,1,서울특별시,강북구구,"2009,3,30",88.0,"2009,3,30",-0.01
...,...,...,...,...,...,...,...,...
498669,2021,6,경기도,남양주시시,"2021,5,31",137.5,"2021,5,31",0.61
498670,2021,6,경기도,남양주시시,"2021,6,7",138.4,"2021,6,7",0.62
498671,2021,6,경기도,남양주시시,"2021,6,14",139.2,"2021,6,14",0.62
498672,2021,6,경기도,남양주시시,"2021,6,21",139.5,"2021,6,21",0.19
498673,2021,6,경기도,남양주시시,"2021,6,28",140.1,"2021,6,28",0.44