In [17]:
import pandas as pd
import glob
import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [9]:
dirr = 'C:/Users/shic/Desktop/crawler_project/data_save/'

In [13]:
list_files = ['courtauction/df_court.csv',
              'estate_trend/estate_trend.csv',
              'kb_land/kb_land_df.csv',
              'taxx/jaesan_df.csv','taxx/jongbu_df.csv']
list_files

['courtauction/df_court.csv',
 'estate_trend/estate_trend.csv',
 'kb_land/kb_land_df.csv',
 'taxx/jaesan_df.csv',
 'taxx/jongbu_df.csv']

In [22]:
df_court     = pd.read_csv(dirr + list_files[0])
estate_trend = pd.read_csv(dirr + list_files[1])
kb_land      = pd.read_csv(dirr + list_files[2])
jaesan_df    = pd.read_csv(dirr + list_files[3])
jongbu_df    = pd.read_csv(dirr + list_files[4])

In [18]:
df_court['sido'].unique()
estate_trend['C1_NM'].unique()

array(['서울특별시', '경기도', '인천광역시'], dtype=object)

array(['전국', '수도권', '서울특별시', '인천광역시', '경기도', '비수도권', '부산광역시', '대구광역시',
       '광주광역시', '대전광역시', '울산광역시', '강원도', '충청북도', '충청남도', '전라북도', '전라남도',
       '경상북도', '경상남도', '세종특별자치시', '제주특별자치도'], dtype=object)

In [25]:
kb_land['b_region'].unique()

array(['서울', '경기'], dtype=object)

In [26]:
jaesan_df

           time   taxx
0    2010-01-01    387
1    2010-02-01   1214
2    2010-03-01   1871
3    2010-04-01   2372
4    2010-05-01   2944
..          ...    ...
127  2020-08-01  12098
128  2020-09-01  14011
129  2020-10-01  16284
130  2020-11-01  18128
131  2020-12-01  22735

[132 rows x 2 columns]