In [3]:
import pandas as pd
import numpy as np
from glob import glob

In [33]:
dirr = 'C:/Users/shic/Desktop/crawler_project/main/kbland/dataa/original/'

In [34]:
list_file = glob(dirr + '*.csv')
list_file

['C:/Users/shic/Desktop/crawler_project/main/kbland/dataa/original\\매매가격_변화율_original.csv',
 'C:/Users/shic/Desktop/crawler_project/main/kbland/dataa/original\\매매가격_지수_original.csv',
 'C:/Users/shic/Desktop/crawler_project/main/kbland/dataa/original\\매매시장_매매거래_original.csv',
 'C:/Users/shic/Desktop/crawler_project/main/kbland/dataa/original\\매매시장_매수우위_original.csv']

In [35]:
df1 = pd.read_csv(list_file[0])
df2 = pd.read_csv(list_file[1])
df3 = pd.read_csv(list_file[2])
df4 = pd.read_csv(list_file[3])

In [36]:
for a in [df1,df2,df3,df4]:
    print(a.columns)

Index(['year', 'month', 'region_b', 'region_s', 'ref_date', 'date_100',
       'rate_v', 'rate_d'],
      dtype='object')
Index(['year', 'month', 'region_b', 'region_s', 'ref_date', 'date_100',
       'jisu_v', 'jisu_d'],
      dtype='object')
Index(['year', 'month', 'region_b', 'region_s', 'ref_date', 'date_100',
       'rate_v', 'rate_d'],
      dtype='object')
Index(['year', 'month', 'region_b', 'region_s', 'ref_date', 'date_100',
       'jisu_v', 'jisu_d'],
      dtype='object')

In [37]:
df1['rate_d'] = pd.to_datetime(df1['rate_d'],format='%Y,%m,%d')
df2['jisu_d'] = pd.to_datetime(df2['jisu_d'],format='%Y,%m,%d')
df3['rate_d'] = pd.to_datetime(df3['rate_d'],format='%Y,%m,%d')
df4['jisu_d'] = pd.to_datetime(df4['jisu_d'],format='%Y,%m,%d')

In [55]:
df1['week_num'] = df1['rate_d'].dt.isocalendar().iloc[:,1]
df2['week_num'] = df2['jisu_d'].dt.isocalendar().iloc[:,1]
df3['week_num'] = df3['rate_d'].dt.isocalendar().iloc[:,1]
df4['week_num'] = df4['jisu_d'].dt.isocalendar().iloc[:,1]

In [59]:
df1_pro = df1.groupby(['year','month','region_b','region_s','rate_d','week_num'],as_index=False)['rate_v'].mean()
df2_pro = df2.groupby(['year','month','region_b','region_s','jisu_d','week_num'],as_index=False)['jisu_v'].mean()
df3_pro = df3.groupby(['year','month','region_b','region_s','rate_d','week_num'],as_index=False)['rate_v'].mean()
df4_pro = df4.groupby(['year','month','region_b','region_s','jisu_d','week_num'],as_index=False)['jisu_v'].mean()

In [64]:
sold_price = pd.merge(df1_pro,df2_pro,how='inner',
                      left_on=['year','month','region_b','region_s','rate_d','week_num'],
                      right_on=['year','month','region_b','region_s','jisu_d','week_num'])
sold_market = pd.merge(df3_pro,df4_pro,how='inner',
                      left_on=['year','month','region_b','region_s','rate_d','week_num'],
                      right_on=['year','month','region_b','region_s','jisu_d','week_num'])

In [65]:
print(sold_price.shape)
print(sold_market.shape)

(837042, 9)
(817471, 9)

In [78]:
df_final = pd.merge(sold_price,sold_market,how='inner',
                    on=['year','month','region_b','region_s','rate_d'])
df_final

,year,month,region_b,region_s,rate_d,week_num_x,rate_v_x,jisu_d_x,jisu_v_x,week_num_y,rate_v_y,jisu_d_y,jisu_v_y
0,2012,1,경기,고양,2011-02-28,9,0.08,2011-02-28,94.8,9,30.6,2011-02-28,47.2
1,2012,1,경기,고양,2011-03-07,10,0.05,2011-03-07,94.9,10,37.4,2011-03-07,41.0
2,2012,1,경기,고양,2011-03-14,11,0.05,2011-03-14,94.8,11,33.8,2011-03-14,41.4
3,2012,1,경기,고양,2011-03-21,12,-0.02,2011-03-21,94.8,12,22.3,2011-03-21,41.1
4,2012,1,경기,고양,2011-03-28,13,-0.01,2011-03-28,94.8,13,26.2,2011-03-28,50.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
800750,2021,6,충북,충주,2021-05-31,22,0.23,2021-05-31,102.9,22,20.7,2021-05-31,118.3
800751,2021,6,충북,충주,2021-06-07,23,0.41,2021-06-07,103.3,23,17.6,2021-06-07,128.5
800752,2021,6,충북,충주,2021-06-14,24,0.27,2021-06-14,103.6,24,16.3,2021-06-14,129.7
800753,2021,6,충북,충주,2021-06-21,25,0.49,2021-06-21,104.1,25,15.4,2021-06-21,122.2
800754,2021,6,충북,충주,2021-06-28,26,0.29,2021-06-28,104.4,26,15.7,2021-06-28,122.4

In [79]:
base_ym = []
for roww in df_final.iterrows():
    yy = str(roww[1]['year'])
    mm = str(roww[1]['month'])
    
    if len(mm) == 1:
        mm = '0' + mm
    else:
        mm = mm
    
    base_ym.append(yy+mm)

In [81]:
df_final['BASE_YM'] = base_ym

In [83]:
df_save = df_final[['BASE_YM','region_b','region_s','week_num_x','rate_v_x','jisu_v_x','rate_v_y','jisu_v_y']]
df_save.columns = ['BASE_YM','SIDONM','SIGUNGU_NM','WK_DG']

,BASE_YM,region_b,region_s,week_num_x,rate_v_x,jisu_v_x,rate_v_y,jisu_v_y
0,201201,경기,고양,9,0.08,94.8,30.6,47.2
1,201201,경기,고양,10,0.05,94.9,37.4,41.0
2,201201,경기,고양,11,0.05,94.8,33.8,41.4
3,201201,경기,고양,12,-0.02,94.8,22.3,41.1
4,201201,경기,고양,13,-0.01,94.8,26.2,50.4
...,...,...,...,...,...,...,...,...
800750,202106,충북,충주,22,0.23,102.9,20.7,118.3
800751,202106,충북,충주,23,0.41,103.3,17.6,128.5
800752,202106,충북,충주,24,0.27,103.6,16.3,129.7
800753,202106,충북,충주,25,0.49,104.1,15.4,122.2
800754,202106,충북,충주,26,0.29,104.4,15.7,122.4