In [19]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.common.alert import Alert
import re
from selenium.webdriver.support.ui import Select
from time import sleep
import requests
import json
import random
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [8]:
date_range = []
for year in range(2012,2022):
    for month in range(1,13):
        year = str(year)
        if month < 10:
            month = '0' + str(month)
        else:
            month = str(month)
        
        string_bind = year+month
        if string_bind == '202108':
            break
        else:
            date_range.append(year+month)

In [9]:
urll = 'https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=Yjg5YjZmNTU0OThkMWNmYTE3MDY0ZWQzZjUyNjQ0YzY=&format=json&jsonVD=Y&userStatsId=rsh1502/390/DT_39002_02/2/1/20210709152529&prdSe=M&startPrdDe={}&endPrdDe={}'

In [10]:
dir_for_shinhan = 'C:/Users/shic/Desktop/shinhan_simon/chromedriver/chromedriver.exe'
dir_for_seunghun = 'C:/Users/rsh15/Desktop/seunghuni/selenium/chromedriver.exe'

In [11]:
driver = webdriver.Chrome(dir_for_shinhan)

In [12]:
# 함수 실행 시간 5-6분 사이
tmp_list = []
for days in date_range:
    one_url = urll.format(days,days)
    
    driver.get(one_url)
    a = BeautifulSoup(driver.page_source,'html.parser')
    a = a.find_all('body')[0].text
    
    if a == '{err:"30",errMsg:"데이터가 존재하지 않습니다."}':
        pass
    else:
        a_to_json = json.loads(a)
        tmp_df = pd.DataFrame(a_to_json)
        tmp_list.append(tmp_df)
    
    sleep(random.uniform(1,2.5))

driver.close()

In [14]:
df = pd.concat(tmp_list).reset_index(drop=True)
df['PRD_DE'] = pd.to_datetime(df['PRD_DE'],format='%Y%m')
df['DT'] = df['DT'].astype(float)
df

,DT,TBL_NM,PRD_SE,PRD_DE,C1,C1_NM,ITM_NM,TBL_ID,ITM_ID,ORG_ID,C1_OBJ_NM
0,111.2,주택시장 소비심리지수,M,2012-01-01,K01,전국,주택시장소비심리지수,DT_39002_02,T1,390,시도별
1,106.0,주택시장 소비심리지수,M,2012-01-01,K02,수도권,주택시장소비심리지수,DT_39002_02,T1,390,시도별
2,107.8,주택시장 소비심리지수,M,2012-01-01,K0203,서울특별시,주택시장소비심리지수,DT_39002_02,T1,390,시도별
3,101.5,주택시장 소비심리지수,M,2012-01-01,K0204,인천광역시,주택시장소비심리지수,DT_39002_02,T1,390,시도별
4,105.9,주택시장 소비심리지수,M,2012-01-01,K0205,경기도,주택시장소비심리지수,DT_39002_02,T1,390,시도별
...,...,...,...,...,...,...,...,...,...,...,...
2109,112.8,주택시장 소비심리지수,M,2021-06-01,K0616,전라남도,주택시장소비심리지수,DT_39002_02,T1,390,시도별
2110,123.1,주택시장 소비심리지수,M,2021-06-01,K0617,경상북도,주택시장소비심리지수,DT_39002_02,T1,390,시도별
2111,124.0,주택시장 소비심리지수,M,2021-06-01,K0618,경상남도,주택시장소비심리지수,DT_39002_02,T1,390,시도별
2112,98.6,주택시장 소비심리지수,M,2021-06-01,k0619,세종특별자치시,주택시장소비심리지수,DT_39002_02,T1,390,시도별
2113,131.4,주택시장 소비심리지수,M,2021-06-01,k0620,제주특별자치도,주택시장소비심리지수,DT_39002_02,T1,390,시도별

전처리

In [16]:
df = df[['PRD_DE','C1_NM','PRD_SE','DT']]

In [20]:
df['PRD_DE'] = df['PRD_DE'].astype(str).str.replace(r'-','').str.slice(stop=6)
df['PRD_SE'] = np.where(df['C1_NM'].isin(['전국','수도권','비수도권']),'Y','N')

In [21]:
df.columns = ['BASE_YM','SIDONM','SUM_YN','M1_INDX_VALU']
df

     BASE_YM   SIDONM SUM_YN  M1_INDX_VALU
0     201201       전국      Y         111.2
1     201201      수도권      Y         106.0
2     201201    서울특별시      N         107.8
3     201201    인천광역시      N         101.5
4     201201      경기도      N         105.9
...      ...      ...    ...           ...
2109  202106     전라남도      N         112.8
2110  202106     경상북도      N         123.1
2111  202106     경상남도      N         124.0
2112  202106  세종특별자치시      N          98.6
2113  202106  제주특별자치도      N         131.4

[2114 rows x 4 columns]

In [22]:
dirr = 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/estate_trend/'
df.to_csv(dirr + 'estate_trend_preprocessed.csv',index=0,encoding='UTF-8-sig')