In [32]:
import pandas as pd

In [33]:
dirr = 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/estate_news/'

In [34]:
df_a = pd.read_csv(dirr + 'article_df2.csv')
df_b = pd.read_csv(dirr + 'article_df_after715.csv')

In [35]:
df = pd.concat([df_a,df_b],axis=0)
df = df.drop_duplicates().sort_values('write_time')
df = df[df['article_title'] != 'no article title']
df = df.reset_index(drop=True)

In [36]:
df

,article_title,article_content,article_writer,write_time
0,"[주간부동산] 매매·전세, 연말연시 맞아 `한산`","- 매매, 서울 0.05%↓, 신도시 0.02%↓, 수도권 0.02%↓- 전세, 서...",이데일리,2012.01.01. 오전 10:34
1,"연말 거래 한산, 매매도 전세도 약세 지속",서울 아파트 값이 2주 연속 하락세다. 2011년 마지막 주 시장은 비수기로 한산했...,조선비즈,2012.01.01. 오전 10:49
2,"2012년 아파트 공급 줄고, 오피스텔 늘고","새해에는 브랜드 아파트 공급은 작년보다 줄고, 대표적인 수익형부동산 상품인 오피스텔...",헤럴드POP,2012.01.01. 오전 8:06
3,수도권 집 한 채에 지방 아파트 몇 채 산다고?,수도권 아파트 한 채 값에 지방 아파트 여러 채를 산다는 말도 옛말이 됐다. 지방 ...,헤럴드POP,2012.01.01. 오전 8:06
4,고급빌라 맞수 청담동 vs 한남동…“유엔빌리지(한남동) 살아요” ‘70억 펜트하우스...,한남동 유엔빌리지. / 청담동 마크힐스. TV 드라마 속 부잣집에서 전화를 받는 사...,매경이코노미,2012.01.01. 오전 9:18
...,...,...,...,...
45907,[부동산캘린더] 3기 신도시 사전청약 1순위 접수…분양시장 후끈,(서울=연합뉴스) 김동규 기자 = 다음 주에는 3기 신도시 사전청약 1순위 접수를 ...,연합뉴스,2021.07.31. 오전 6:00
45908,[분양캘린더]8월 첫째 주 1만4368가구 분양…견본주택 3곳 개관,전국 20개 단지…일반분양 1만86가구[서울=뉴시스] 31일 부동산114에 따르면 ...,뉴시스,2021.07.31. 오전 6:00
45909,올 상반기 청약률 상위 단지는 초등학교 도보 통학권,"분양 시장 주 수요층 3040세대, 자녀 교육 우선안전한 통학 환경 선호해올해 상반...",데일리안,2021.07.31. 오전 6:03
45910,집값에 치이고 전셋값에 또 치이고,[집값 톡톡]전셋값→집값 상승 악순환서울·수도권·지방까지 전셋값 상승 확산집값은 '...,비즈니스워치,2021.07.31. 오전 6:30
45911,"전셋값 폭등에 임대 아파트에 눈길… 호반건설, '호반써밋 그랜드파크 II, IV' 공급","━최장 10년간 거주 가능… 교통, 생활 편의, 쾌적성 두루 갖춘 입지에 합리적인 ...",머니S,2021.07.31. 오전 9:03

In [37]:
df = df[['article_title','write_time','article_writer','article_content']]
df.columns = ['NEWS_TITLE_NM','NEWS_WRT_YMD','NEWS_MEDIA_NM','NEWS_BODY_CNTT']

In [38]:
df['NEWS_WRT_YMD'] = df['NEWS_WRT_YMD'].str.slice(stop=10)

In [41]:
df.to_csv(dirr + 'RAA_부동산114뉴스기사_유승훈.csv',index=0,encoding='UTF-8-sig')