In [2]:
import pandas as pd
import re
from eunjeon import Mecab
import collections

In [3]:
#dirr = 'C:/Users/rsh15/Google Drive/crawler_data/estate_news/'
dirr = 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/estate_news/'

In [4]:
news_df = pd.read_csv(dirr+'RAA_부동산114뉴스기사_유승훈.csv')
news_df = news_df.dropna()

In [5]:
news_df['yearmonth'] = news_df['NEWS_WRT_YMD'].str.slice(stop=7).str.replace('.','',regex=False)
news_df

,NEWS_TITLE_NM,NEWS_WRT_YMD,NEWS_MEDIA_NM,NEWS_BODY_CNTT,yearmonth
0,"[주간부동산] 매매·전세, 연말연시 맞아 `한산`",2012.01.01,이데일리,"- 매매, 서울 0.05%↓, 신도시 0.02%↓, 수도권 0.02%↓- 전세, 서...",201201
1,"연말 거래 한산, 매매도 전세도 약세 지속",2012.01.01,조선비즈,서울 아파트 값이 2주 연속 하락세다. 2011년 마지막 주 시장은 비수기로 한산했...,201201
2,"2012년 아파트 공급 줄고, 오피스텔 늘고",2012.01.01,헤럴드POP,"새해에는 브랜드 아파트 공급은 작년보다 줄고, 대표적인 수익형부동산 상품인 오피스텔...",201201
3,수도권 집 한 채에 지방 아파트 몇 채 산다고?,2012.01.01,헤럴드POP,수도권 아파트 한 채 값에 지방 아파트 여러 채를 산다는 말도 옛말이 됐다. 지방 ...,201201
4,고급빌라 맞수 청담동 vs 한남동…“유엔빌리지(한남동) 살아요” ‘70억 펜트하우스...,2012.01.01,매경이코노미,한남동 유엔빌리지. / 청담동 마크힐스. TV 드라마 속 부잣집에서 전화를 받는 사...,201201
...,...,...,...,...,...
45907,[부동산캘린더] 3기 신도시 사전청약 1순위 접수…분양시장 후끈,2021.07.31,연합뉴스,(서울=연합뉴스) 김동규 기자 = 다음 주에는 3기 신도시 사전청약 1순위 접수를 ...,202107
45908,[분양캘린더]8월 첫째 주 1만4368가구 분양…견본주택 3곳 개관,2021.07.31,뉴시스,전국 20개 단지…일반분양 1만86가구[서울=뉴시스] 31일 부동산114에 따르면 ...,202107
45909,올 상반기 청약률 상위 단지는 초등학교 도보 통학권,2021.07.31,데일리안,"분양 시장 주 수요층 3040세대, 자녀 교육 우선안전한 통학 환경 선호해올해 상반...",202107
45910,집값에 치이고 전셋값에 또 치이고,2021.07.31,비즈니스워치,[집값 톡톡]전셋값→집값 상승 악순환서울·수도권·지방까지 전셋값 상승 확산집값은 '...,202107
45911,"전셋값 폭등에 임대 아파트에 눈길… 호반건설, '호반써밋 그랜드파크 II, IV' 공급",2021.07.31,머니S,"━최장 10년간 거주 가능… 교통, 생활 편의, 쾌적성 두루 갖춘 입지에 합리적인 ...",202107

In [6]:
dates = news_df['yearmonth'].unique().tolist()
dates[0:10]

['201201',
 '201202',
 '201203',
 '201204',
 '201205',
 '201206',
 '201207',
 '201208',
 '201209',
 '201210']

In [7]:
def news_article_preprocess(article_cnt):
    content_txt = re.sub(r'[\(\[].*?[\)\]]','',article_cnt)
    content_txt = re.sub('<.*?>','',content_txt)
    content_txt = re.sub('＜.*?＞','',content_txt)
    content_txt = re.sub('\s{2,}','',content_txt)
    content_txt = content_txt.replace('부동산114','')
    return content_txt

In [13]:
news_df['NEWS_BODY_CNTT'] = news_df['NEWS_BODY_CNTT'].map(news_article_preprocess)
news_df['NEWS_BODY_CNTT'][23123]

"평택 소사벌 푸르지오 투시도© News1대우건설·대림산업 컨소시엄, 택지지구내 메이저 브랜드전가구 중소형 4베이 설계에 혁신기술 도입 진희정 기자 = 다음달 개통하는 수서발고속철도 개통과 내년 4월 가동하는 고덕삼성산업단지에 대한 기대감으로 평택이 들썩이고 있다. SRT 개통 자체가 평택시 전체 인구를 끌어올리는 촉매가 될 것이라는 의미에서다. 또 산업단지와 지역 간 연계성과 성장 가능성을 고려하면 평택의 미래가치는 더 높아질 것이란 얘기다.각종 개발계획으로 주목받고 있는 평택 소사벌 택지개발지구에서 대우건설과 대림산업이 손잡고 '평택 소사벌 푸르지오'를 분양한다. 25일 모델하우스를 오픈한 평택 소사벌 푸르지오는 지하 1층~지상 25층 아파트 6개동 규모로 전용면적 Δ83㎡A 334가구 Δ83㎡A1 42가구 Δ83㎡B 78가구 Δ83㎡B1 21가구 Δ83㎡C 91가구 등 총 566가구로 전 세대가 수요층이 많은 중소형 규모로 구성돼 있다. 분양가는 3.3㎡ 당 평균 900만원 중반대로 예상되며 계약금정액제, 중도금 전액 무이자가 적용된다. ◇연이은 대형호재로 주목…아파트 값도 오르고 있어삼성 및 LG전자 등 대기업 산업단지 조성사업이 속도를 내고 있는 데다 서울권 접근성 향상에 기여할 SRT 지제역도 다음달 개통한다. 여기에 고덕산업단지 내에 삼성전자가 100조원 이상을 투자해 조성하는 아시아 최대 규모의 차세대 반도체 공장의 1기 라인이 내년 상반기에 가동을 앞두고 있다. LG전자가 조성 중인 99만여㎡ 규모의 평택 진위2산업단지도 내년 준공을 목표로 하고 있다. 실제 최근 5년간 평택시 집값은 상승세를 기록하고 있다.  자료를 보면 평택시의 지난달 3.3㎡당 아파트값은 평균 704만원으로 지난 2012년 10월 대비 14.66%의 상승률을 기록했다. 같은 기간 경기도 전체 3.3㎡당 아파트 평균 매매가 상승률인 10.22%를 웃도는 수치다. 최근 3년간 1~10월까지 평택시 아파트 거래량도 꾸준히 증가하고 있다. 국토교통부 통계누리 자료에 따르면 2014년 6959건이던 거래량은 꾸준히 증가해 올해 1만581건으로 52.05% 상승했다. 같은 기간 경기도 아파트 거래량 상승폭인 28.09%를 상회하고 있다. 평택 소사벌 택지지구 지역도© News1◇비전동과 택지지구의 인프라를 동시에…쾌적한 주거환경 마련평택 소사벌 푸르지오는 소사벌 택지지구 내 개발되고 있는 다양한 상업시설들과 병원, 신세계복합쇼핑몰을 이용할 수 있으며 뉴코아아울렛·CGV·평택시청 등 비전동의 편리한 인프라를 공유하고 있어 뛰어한 생활 환경을 갖추고 있다.단지 옆 통복천 및 소사벌 택지지구 내 배다리저수지 생태공원 등이 가까이 있고 비전중학교가 단지 바로 옆에 위치해 교육환경도 우수하다. 전가구 중소형 4베이 설계에 각종 혁신기술도 접목해 주거환경도 쾌적하다. 83㎡C는 탑상형 코너 타입 구조의 단점을 극복한 신평면을 도입해 채광과 통풍을 극대화시켰다. 층간소음 저감을 위한 최신 완충재를 설치해 경량 1급·중량 2급의 층간소음 수준을 유지할 예정이다. 욕실과 주방에 층별 직배기를 적용해 층간소음을 차단하고 신속한 배출이 가능하도록 했다.확장부위 외부창호를 복층 유리로 활용해 에너지 저감 성능을 개선하고 연속형 단열 설계를 통해 결로하자를 줄이기로 했다. 이밖에 드레스룸, 펜트리장 등 각종 수납공간 극대화시켜 생활의 편리함을 더하고 1층의 경우 천장 높이를 10㎝높여 공간감을 높이고 일부 가구는 통복천 방향 개방형 발코니를 적용해 쾌적한 생활 공간을 연출할 계획이다.모델하우스는 경기도 평택시 비전동 1030번지에 위치하고 있으며 입주예정일은 2019년 3월이다. 문의 : 1800-0026hj_jin@▶ 매일 업데이트 최신 만화 100% 무료, 무단 전재 및 재배포 금지]"

In [ ]:
l
for dd in dates:
    tmp_df = news_df[news_df['yearmonth']==dd]

In [14]:
news_df

,NEWS_TITLE_NM,NEWS_WRT_YMD,NEWS_MEDIA_NM,NEWS_BODY_CNTT,yearmonth
0,"[주간부동산] 매매·전세, 연말연시 맞아 `한산`",2012.01.01,이데일리,"- 매매, 서울 0.05%↓, 신도시 0.02%↓, 수도권 0.02%↓- 전세, 서...",201201
1,"연말 거래 한산, 매매도 전세도 약세 지속",2012.01.01,조선비즈,서울 아파트 값이 2주 연속 하락세다. 2011년 마지막 주 시장은 비수기로 한산했...,201201
2,"2012년 아파트 공급 줄고, 오피스텔 늘고",2012.01.01,헤럴드POP,"새해에는 브랜드 아파트 공급은 작년보다 줄고, 대표적인 수익형부동산 상품인 오피스텔...",201201
3,수도권 집 한 채에 지방 아파트 몇 채 산다고?,2012.01.01,헤럴드POP,수도권 아파트 한 채 값에 지방 아파트 여러 채를 산다는 말도 옛말이 됐다. 지방 ...,201201
4,고급빌라 맞수 청담동 vs 한남동…“유엔빌리지(한남동) 살아요” ‘70억 펜트하우스...,2012.01.01,매경이코노미,한남동 유엔빌리지. / 청담동 마크힐스. TV 드라마 속 부잣집에서 전화를 받는 사...,201201
...,...,...,...,...,...
45907,[부동산캘린더] 3기 신도시 사전청약 1순위 접수…분양시장 후끈,2021.07.31,연합뉴스,김동규 기자 = 다음 주에는 3기 신도시 사전청약 1순위 접수를 비롯해 전국에서 ...,202107
45908,[분양캘린더]8월 첫째 주 1만4368가구 분양…견본주택 3곳 개관,2021.07.31,뉴시스,전국 20개 단지…일반분양 1만86가구 31일 에 따르면 8월 첫째 주에는 전국 2...,202107
45909,올 상반기 청약률 상위 단지는 초등학교 도보 통학권,2021.07.31,데일리안,"분양 시장 주 수요층 3040세대, 자녀 교육 우선안전한 통학 환경 선호해올해 상반...",202107
45910,집값에 치이고 전셋값에 또 치이고,2021.07.31,비즈니스워치,전셋값→집값 상승 악순환서울·수도권·지방까지 전셋값 상승 확산집값은 '고점 예고' ...,202107
45911,"전셋값 폭등에 임대 아파트에 눈길… 호반건설, '호반써밋 그랜드파크 II, IV' 공급",2021.07.31,머니S,"━최장 10년간 거주 가능… 교통, 생활 편의, 쾌적성 두루 갖춘 입지에 합리적인 ...",202107

In [66]:
df_content = pd.concat(list_tmp).reset_index(drop=True)
df_content

      dates                                            content
0    201201  - 매매, 서울 0.05%↓, 신도시 0.02%↓, 수도권 0.02%↓- 전세, 서...
1    201202   투자분석 보고서분담금 9000만원까지 절감1만 가구가 넘는 대단지로 변모하는 서울...
2    201203  동영상 뉴스【 앵커멘트 】  김포 한강과 파주 운정, 그리고 인천 송도·청라 지구....
3    201204   국내 최대 포털 네이버가 오픈마켓 서비스 ‘샵N’의 문을 열고 업계로부터 뭇매를 ...
4    201205  2008년 금융위기 이후 가격이 크게 내린 아파트 중에서 소액 투자가 가능한 중소형...
..      ...                                                ...
110  202103  잠실 엘스, 2억 내린 전세매물 등장두달새 25% 증가…서울·경기 비슷“다만 입주 ...
111  202104  - 대전 하늘채 스카이앤 2차, 5월중 분양일정 순항… 상담 가능한 ‘사전홍보관’ ...
112  202105  동영상 뉴스서울 아파트값이 재건축 단지를 중심으로 다시 들썩이는 조짐이 나타나자 오...
113  202106  매년 6월 1일 기준 보유세 부과6월부터 매물잠김 시작되는 이유올해는 양도세 중과까...
114  202107  - 입주 5년 내 새 아파트 가격 확 뛰어…분양권 억대 웃돈 예사- ‘울산 뉴시티 ...

[115 rows x 2 columns]

In [67]:
tagger = Mecab()
tagger_list = []
for roww in df_content.iterrows():
    tagged = tagger.nouns(roww[1]['content'])
    tagged = [s for s in tagged if len(s) > 1]
    tagged_counter = collections.Counter(tagged)
    tagged_common  = tagged_counter.most_common(100)
    
    word_list = []
    count_list = []
    for word,count in tagged_common:
        word_list.append(word)
        count_list.append(count)
    
    tagger_list.append(pd.DataFrame({
        'date'  : roww[1]['dates'],
        'word'  : word_list,
        'count' : count_list
    }))

In [68]:
tagger_100[tagger_100['date']=='201204']

      date    word  count
0   201204     성폭행      1
1   201204      가담      1
2   201204     아이돌      1
3   201204      멤버      1
4   201204      형사      1
5   201204      처벌      1
6   201204      검토      1
7   201204     이하이      1
8   201204     박지민      1
9   201204     백아연      1
10  201204      공항      1
11  201204      흡연      1
12  201204      제지      1
13  201204  버스커버스커      1
14  201204     이승기      1
15  201204     박유천      1
16  201204     장근석      1
17  201204      실화      1
18  201204     도가니      1
19  201204    대한민국      1
20  201204      오후      1
21  201204      유일      1
22  201204      석간      1
23  201204    문화일보      1
24  201204      무단      1
25  201204      전재      1
26  201204      배포      1
27  201204      금지      1
28  201204     모바일      1

In [12]:
tagger_100 = pd.concat(tagger_list)
tagger_100.to_csv(dirr+'wordcount_df_100.csv',index=False,encoding='UTF-8-sig')

In [118]:
tagger = Mecab()
tagger_list = []
for roww in df_content.iterrows():
    tagged = tagger.nouns(roww[1]['content'])
    tagged = [s for s in tagged if len(s) > 1]
    tagged_counter = collections.Counter(tagged)
    tagged_common  = tagged_counter.most_common(50)
    
    word_list = []
    count_list = []
    for word,count in tagged_common:
        word_list.append(word)
        count_list.append(count)
    
    tagger_list.append(pd.DataFrame({
        'date'  : roww[1]['dates'],
        'word'  : word_list,
        'count' : count_list
    }))

In [119]:
tagger_50 = pd.concat(tagger_list)
tagger_50.to_csv(dirr+'wordcount_df_50.csv',index=False,encoding='UTF-8-sig')