In [1]:
import pandas as pd
from glob import glob

In [2]:
dirr = 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/cofix/'

In [4]:
dir_list = glob(dirr+'*.xlsx')
dir_list

['C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/cofix\\COFIX통계(2012년도)_20210823.xlsx',
 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/cofix\\COFIX통계(2013년도)_20210823.xlsx',
 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/cofix\\COFIX통계(2014년도)_20210823.xlsx',
 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/cofix\\COFIX통계(2015년도)_20210823.xlsx',
 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/cofix\\COFIX통계(2016년도)_20210823.xlsx',
 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/cofix\\COFIX통계(2017년도)_20210823.xlsx',
 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/cofix\\COFIX통계(2018년도)_20210823.xlsx',
 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/cofix\\COFIX통계(2019년도)_20210823.xlsx',
 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/cofix\\COFIX통계(2020년도)_20210823.xlsx',
 'C:/Users/shic/Desktop/shinhan_simon/google_drive/crawler_data/cofix\\COFIX통계(2021년도)_20210823.xlsx']

In [8]:
pd.read_excel(dir_list[0],skiprows=1)

           공시일      대상월  신규취급액기준 COFIX  잔액기준 COFIX 신 잔액기준 COFIX
0   2012/12/17  2012/11           3.01        3.57            -
1   2012/11/15  2012/10           3.08        3.64            -
2   2012/10/15  2012/09           3.18        3.72            -
3   2012/09/17  2012/08           3.18        3.78            -
4   2012/08/16  2012/07           3.40        3.85            -
5   2012/07/16  2012/06           3.62        3.90            -
6   2012/06/15  2012/05           3.63        3.91            -
7   2012/05/15  2012/04           3.69        3.92            -
8   2012/04/16  2012/03           3.72        3.93            -
9   2012/03/15  2012/02           3.73        3.94            -
10  2012/02/15  2012/01           3.75        3.96            -
11  2012/01/16  2011/12           3.77        3.97            -

In [12]:
df_list = []
for dd in dir_list:
    tmp_df = pd.read_excel(dd,skiprows=1)
    df_list.append(tmp_df)

In [21]:
df = pd.concat(df_list)
df

           공시일      대상월  신규취급액기준 COFIX  잔액기준 COFIX 신 잔액기준 COFIX
0   2012/12/17  2012/11           3.01        3.57            -
1   2012/11/15  2012/10           3.08        3.64            -
2   2012/10/15  2012/09           3.18        3.72            -
3   2012/09/17  2012/08           3.18        3.78            -
4   2012/08/16  2012/07           3.40        3.85            -
..         ...      ...            ...         ...          ...
3   2021/05/17  2021/04           0.82        1.04         0.81
4   2021/04/15  2021/03           0.84        1.06         0.84
5   2021/03/15  2021/02           0.83        1.09         0.87
6   2021/02/15  2021/01           0.86        1.13          0.9
7   2021/01/15  2020/12           0.90        1.17         0.93

[116 rows x 5 columns]

In [26]:
df.to_csv(dirr + 'cofix_bind.csv',index=False,encoding='UTF-8-sig')